
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="dns-prefetch" href="https://dulieu.nguoiquansat.vn/">
    <link rel="dns-prefetch" href="https://code.highcharts.com/">

    <link rel="stylesheet" href="~/Assets/bundles/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/bundles/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" />

    <link rel="stylesheet" href="~/Assets/v2/css/style.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/swiper.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/all.css" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>

    @Styles.Render("~/Assets/v2/css/custom")
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Assets/bundles/bootstrap/bootstrap.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-4-autocomplete/bootstrap-4-autocomplete.js"></script>

    @Scripts.Render("~/bundles/jquery/commoniframebox")
</head>
<body class="@(Request.Browser.IsMobileDevice ? "mobile" : "") wrap-box-iframe l-nav">
    @RenderBody()
</body>
</html>
