
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="dns-prefetch" href="https://dulieu.nguoiquansat.vn/">
    <link rel="dns-prefetch" href="https://code.highcharts.com/">

    <link rel="stylesheet" href="~/Assets/bundles/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/bundles/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" />

    <link rel="stylesheet" href="~/Assets/v2/css/style.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/swiper.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/all.css" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>

    @Styles.Render("~/bundles/styles/custom")

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/bundles/bootstrap/bootstrap.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Assets/v2/js/swiper.min.js"></script>

    <script src="~/Assets/bundles/bootstrap-4-autocomplete/bootstrap-4-autocomplete.js"></script>

    @Scripts.Render("~/bundles/jquery/common")

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2K5TMT0L8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2K5TMT0L8L');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NWJFMPMVCW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NWJFMPMVCW');
    </script>
</head>
<body class="@(bool.Parse(Request.RequestContext.RouteData.Values["IsMobile"]+"") == true ? "mobile" : "") wrap-iframe l-nav">
    @RenderBody()
    <script src='https://dataview.nguoiquansat.vn/dulieu.js'></script>
</body>
</html>
