<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("metatags", false)
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="https://nqs.1cdn.vn/assets/images/favicon.ico" />
    <link rel="dns-prefetch" href="https://dulieu.nguoiquansat.vn/">
    <link rel="dns-prefetch" href="https://code.highcharts.com/">
    <link rel="canonical" href="https://dulieu.nguoiquansat.vn" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/bundles/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/bundles/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" />

    <link rel="stylesheet" href="~/Assets/v2/css/style.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/swiper.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/all.css?v=2" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>

    @Styles.Render("~/Assets/v2/css/custom")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/bundles/bootstrap/bootstrap.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Assets/v2/js/swiper.min.js"></script>

    <script src="~/Assets/bundles/bootstrap-4-autocomplete/bootstrap-4-autocomplete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jquery/common")
    @Scripts.Render("~/bundles/jquery/header")
    @RenderSection("Styles", required: false)
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2K5TMT0L8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2K5TMT0L8L');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NWJFMPMVCW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NWJFMPMVCW');
    </script>
    <script async src="https://static.amcdn.vn/tka/cdn.js" type="text/javascript"></script>
    <script>var arfAsync = arfAsync || [];</script>
    <script id="arf-core-js" onerror="window.arferrorload=true;" src="//media1.admicro.vn/cms/Arf.min.js" async></script>

</head>
<body class="@(Request.Browser.IsMobileDevice ? "mobile" : "")">
    <div class="c-topbox">
        <!--Header part-->
        <!--l-nav-->
        <div class="l-nav">
            @Html.Partial("Partials/Header", "true")

            <!--end c-nav-inner-->
            <div class="sticky-menu"></div>
            <div class="c-menu-outer">
                <div class="container">
                    <div class="c-menu">
                        @Html.Partial("Partials/MenuPartial")
                    </div>
                    <!--end c-menu-->
                </div>
                <!--end container-->
            </div>
            <!--end c-menu-outer-->
            <!-- Modal search -->
            <div class="modal search-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content p-3">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="c-search">
                                        <div class="c-search__inner custom-autocomplete search-top">
                                            <input class="form-control txt-keyword-header" name="state" style="width: 100%;" />
                                            <button class="c-search__btn btn-header-search" type="button"><i class="icon16-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12 text-left">
                                    <label style="font-weight: bold; font-size: 15px">Hoặc</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-12">
                                    <div class="c-search">
                                        <div class="c-search__inner custom-autocomplete search-thuat-ngu">
                                            <input class="form-control txt-thuatngu-header" name="state" style="width: 100%;" />
                                            <button class="c-search__btn btn-header-search-thuatngu" type="button"><i class="icon16-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-block" style="text-align: center; padding: 0;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end l-nav-->
        <div class="container mt-5 mb-3 h-show-pc">
            <div class="w-100">
                @{
                    var r = new Random();
                    var x = r.Next(1, 100);
                    if (x <= 50)
                    {
                        <a href="https://xti.com.vn/san-pham-xti" target="_blank"><img src="~/Upload/images/xti_pc.jpg" class="w-100" alt="banner" /></a>
                    }
                    else
                    {
                        <zone id="l5mb9o8m"></zone>
                        <script>arfAsync.push("l5mb9o8m");</script>
                    }
                }


            </div>
        </div>

        <!--Content page part-->
        <div class="container d-flex top-menu">
            <div class="c-topnews is-line-bottom">
                @*@if (!Request.Browser.IsMobileDevice)
                    {*@
                <ul class="w-100 h-show-pc">
                    <li class="@(Request.RawUrl == Url.Action("Index", "Home") ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">Toàn cảnh thị trường</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("History", "History") ? "active" : "")">
                        <a href="@Url.Action("History", "History")">Dữ liệu giao dịch</a>
                    </li>
                    <li class="@(Request.RawUrl.Contains(Url.Action("CompanyList", "Company"))||Request.RawUrl.Contains(Url.Action("CompanyListSearch", "Company")) || Request.RawUrl.Contains(Url.Action("CompanyDetail", "Company")) ? "active" : "")">
                        <a href="@Url.Action("CompanyList", "Company")">Dữ liệu doanh nghiệp</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("Index", "Profession") ? "active" : "")">
                        <a href="@Url.Action("Index", "Profession")">Thống kê ngành</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("BoLocCoPhieuList", "statistics") ? "active" : "")">
                        <a href="@Url.Action("BoLocCoPhieuList", "statistics")">Bộ lọc cổ phiếu</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("ViMo", "ViMo") ? "active" : "")">
                        <a href="@Url.Action("ViMo", "ViMo")">Vĩ mô</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("EventList", "Event") ? "active" : "")">
                        <a href="@Url.Action("EventList", "Event")">Sự kiện</a>
                    </li>
                    <li class="@(Request.RawUrl.ToLower().Contains(Url.Action("Index", "TechnicalTerms").ToLower())||Request.RawUrl.ToLower().Contains(Url.Action("TechnicalTermDetail", "TechnicalTerms").ToLower()) ? "active" : "")">
                        <a href="@Url.Action("Index", "TechnicalTerms")">Thuật ngữ</a>
                    </li>
                </ul>
                @*}
                    else
                    {*@
                <div class="h-show-mobile">
                    <div class="w-100">
                        <span class="catname">@ViewBag.PageName</span>
                        <div class="c-menu-more is-hamburger float-right" data-toggle="collapse" href="#collapseExample">
                            <span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span>
                        </div>
                    </div>
                    <div class="collapse w-100" id="collapseExample">
                        <div class="card card-body w-100">
                            <ul class="w-100">
                                <li class="@(Request.RawUrl == Url.Action("Index", "Home") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Home")">Toàn cảnh thị trường</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("History", "History") ? "active" : "")">
                                    <a href="@Url.Action("History", "History")">Dữ liệu giao dịch</a>
                                </li>
                                <li class="@(Request.RawUrl.Contains(Url.Action("CompanyList", "Company")) ||Request.RawUrl.Contains(Url.Action("CompanyListSearch", "Company")) || Request.RawUrl.Contains(Url.Action("CompanyDetail", "Company")) ? "active" : "")">
                                    <a href="@Url.Action("CompanyList", "Company")">Dữ liệu doanh nghiệp</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("Index", "Profession") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Profession")">Thống kê ngành</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("BoLocCoPhieuList", "statistics") ? "active" : "")">
                                    <a href="@Url.Action("BoLocCoPhieuList", "statistics")">Bộ lọc cổ phiếu</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("ViMo", "ViMo") ? "active" : "")">
                                    <a href="@Url.Action("ViMo", "ViMo")">Vĩ mô</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("EventList", "Event") ? "active" : "")">
                                    <a href="@Url.Action("EventList", "Event")">Sự kiện</a>
                                </li>
                                <li class="@(Request.RawUrl.ToLower().Contains(Url.Action("Index", "TechnicalTerms").ToLower())||Request.RawUrl.ToLower().Contains(Url.Action("TechnicalTermDetail", "TechnicalTerms").ToLower()) ? "active" : "")">
                                    <a href="@Url.Action("Index", "TechnicalTerms")">Thuật ngữ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*}*@
            </div>
        </div>
        <div class="l-content">
            <div class="container">


                @RenderBody()


                <!--end c-content-flex-->
            </div>
            <!--end container-->
        </div>
        <!--end l-content-->
        <!--Footer part-->
        <!--l-footer-->
        <div class="l-footer">

            <div class="container">
                @Html.Partial("Partials/FooterPartial")
            </div>
            <!--end container-->
        </div>
        <!--end l-footer-->

    </div>
    <!-- Modal -->
    <div class="modal watch-list-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content p-3">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="c-search">
                                <div class="c-search__inner">
                                    <input class="form-control" id="txt-keyword" type="text" name="" placeholder="Mã chứng khoán muốn theo dõi" />
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-2 col-md-2 col-sm-3 col-3"><button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button></div>*@
                    </div>
                </div>

                <ul class="c-box follow is-line-bottom m-3 watch-list-popup">
                </ul>
                <div class="modal-footer d-block" style="text-align: center; padding: 0;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal new-search-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content p-3">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="c-search">
                                <div class="c-search__inner">
                                    <input class="form-control" id="txt-new-keyword" type="text" name="" placeholder="Mã chứng khoán muốn theo dõi" />
                                    <a href="javascript:;" id="btnNewSearch">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.1567 6.63698C11.1567 9.13317 9.13317 11.1567 6.63698 11.1567C4.14079 11.1567 2.11723 9.13317 2.11723 6.63698C2.11723 4.14079 4.14079 2.11723 6.63698 2.11723C9.13317 2.11723 11.1567 4.14079 11.1567 6.63698ZM6.63698 12.524C9.88827 12.524 12.524 9.88827 12.524 6.63698C12.524 3.38569 9.88827 0.75 6.63698 0.75C3.38569 0.75 0.75 3.38569 0.75 6.63698C0.75 9.88827 3.38569 12.524 6.63698 12.524Z" fill="#3B1B70" stroke="#3B1B70" stroke-width="0.5" />
                                            <rect x="9.86768" y="11.2119" width="1.90026" height="5.70079" rx="0.794287" transform="rotate(-45 9.86768 11.2119)" fill="#3B1B70" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="box-filter">
                                <div class="radio">
                                    <input id="radio-search" name="radio" type="radio" checked>
                                    <label for="radio-search" class="radio-label">Tìm kiếm</label>
                                </div>
                                <div class="radio">
                                    <input id="radio-term" name="radio" type="radio">
                                    <label for="radio-term" class="radio-label">Tra cứu thuật ngữ</label>
                                </div>
                            </div>
                            <div class="box-search-recent">
                                <div class="box-header">
                                    <div class="box-title">Tìm kiếm gần đây</div>
                                    <div class="btn-remove">
                                        <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.1402 3.34707C9.2643 3.15246 7.37709 3.05221 5.49551 3.05221C4.38008 3.05221 3.26465 3.11118 2.14923 3.22913L1 3.34707M4.09841 2.75146L4.22234 1.97893C4.31248 1.4187 4.38008 1 5.33214 1H6.80811C7.76016 1 7.8334 1.44229 7.9179 1.98483L8.04184 2.75146M9.92905 5.21057L9.56287 11.149C9.5009 12.0749 9.4502 12.7943 7.87847 12.7943H4.26178C2.69004 12.7943 2.63934 12.0749 2.57737 11.149L2.2112 5.21057M5.12933 9.55089H7.00528M4.66175 7.19202H7.47849" stroke="#3B1B70" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="list-search">
                                        <li>VNM</li>
                                        <li>TCB</li>
                                        <li>Ngân hàng ngoại thương</li>
                                        <li>Kết quả kinh doanh quý 2</li>
                                        <li>Cổ phiếu CII</li>
                                        <li>Vingroup</li>
                                        <li>Thị trường</li>
                                        <li>VPBank</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="box-care">
                                <div class="box-header">
                                    <div class="box-title">Quan tâm nhất</div>
                                </div>
                                <div class="box-content">
                                    <ul class="list-care">
                                        <li>VNM</li>
                                        <li>TCB</li>
                                        <li>Ngân hàng ngoại thương</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-2 col-md-2 col-sm-3 col-3"><button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button></div>*@
                    </div>
                </div>
                <div class="modal-footer d-block" style="text-align: center; padding: 0;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script>
        var swiper = new Swiper(".topcontents", {
            slidesPerView: "auto",
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                var top = $('.sticky-menu').offset().top;
                var scrollTop = $(this).scrollTop();

                if (scrollTop > top) {
                    $('.c-menu-outer').addClass('c-menu-fixed');
                    $('.c-mega-menu').addClass('c-menu-fixed');
                    $('.sticky-menu').height($('.c-menu-outer').height());
                } else {
                    $('.c-menu-outer').removeClass('c-menu-fixed');
                    $('.c-mega-menu').removeClass('c-menu-fixed');
                    $('.sticky-menu').height(0);
                }
            });
        });
    </script>
    <script src='https://dataview.nguoiquansat.vn/dulieu.js'></script>
</body>
</html>
