<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("metatags", false)
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="https://nqs.1cdn.vn/assets/images/favicon.ico" />
    <link rel="dns-prefetch" href="https://dulieu.nguoiquansat.vn/">
    <link rel="dns-prefetch" href="https://code.highcharts.com/">

    <link rel="stylesheet" href="~/Assets/bundles/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/bundles/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" />

    <link rel="stylesheet" href="~/Assets/v2/css/style.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/swiper.min.css" />
    <link rel="stylesheet" href="~/Assets/v2/css/all.css?v=1" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>

    @Styles.Render("~/Assets/v2/css/custom")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/bundles/bootstrap/bootstrap.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/bundles/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Assets/v2/js/swiper.min.js"></script>

    <script src="~/Assets/bundles/bootstrap-4-autocomplete/bootstrap-4-autocomplete.js"></script>

    @Scripts.Render("~/bundles/jquery/common")

    @RenderSection("Styles", required: false)
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2K5TMT0L8L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2K5TMT0L8L');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NWJFMPMVCW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NWJFMPMVCW');
    </script>
</head>
<body class="@(bool.Parse(Request.RequestContext.RouteData.Values["IsMobile"]+"") == true ? "mobile" : "")">
    <div class="c-topbox">
        <!--Header part-->
        <!--l-nav-->
        <div class="l-nav">
            @Html.Partial("Partials/Header", "true")

            <!--end c-nav-inner-->
            <div class="sticky-menu"></div>
            <div class="c-menu-outer">
                <div class="container">
                    <div class="c-menu">
                        @Html.Partial("Partials/MenuPartial")
                    </div>
                    <!--end c-menu-->
                </div>
                <!--end container-->
            </div>
            <!--end c-menu-outer-->

        </div>
        <!--end l-nav-->
        <div class="container mt-5 mb-3 h-show-pc">
            <div class="w-100"><a href="https://dop.cake.vn/affiliate?ref=NQS-S3328858" target="_blank"><img src="~/Upload/images/PR_640x320_pc.jpg" class="w-100" alt="banner" /></a></div>
        </div>

        <!--Content page part-->
        <div class="container d-flex top-menu">
            <div class="c-topnews is-line-bottom">
                @*@if (!bool.Parse(Request.RequestContext.RouteData.Values["IsMobile"] + ""))
                    {*@
                <ul class="w-100 h-show-pc">
                    <li class="@(Request.RawUrl == Url.Action("Index", "Home") ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">Toàn cảnh thị trường</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("History", "History") ? "active" : "")">
                        <a href="@Url.Action("History", "History")">Dữ liệu giao dịch</a>
                    </li>
                    <li class="@(Request.RawUrl.Contains(Url.Action("CompanyList", "Company"))||Request.RawUrl.Contains(Url.Action("CompanyListSearch", "Company")) || Request.RawUrl.Contains(Url.Action("CompanyDetail", "Company")) ? "active" : "")">
                        <a href="@Url.Action("CompanyList", "Company")">Dữ liệu doanh nghiệp</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("Index", "Profession") ? "active" : "")">
                        <a href="@Url.Action("Index", "Profession")">Thống kê ngành</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("BoLocCoPhieuList", "statistics") ? "active" : "")">
                        <a href="@Url.Action("BoLocCoPhieuList", "statistics")">Bộ lọc cổ phiếu</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("ViMo", "ViMo") ? "active" : "")">
                        <a href="@Url.Action("ViMo", "ViMo")">Vĩ mô</a>
                    </li>
                    <li class="@(Request.RawUrl == Url.Action("EventList", "Event") ? "active" : "")">
                        <a href="@Url.Action("EventList", "Event")">Sự kiện</a>
                    </li>
                </ul>
                @*}
                    else
                    {*@
                <div class="h-show-mobile">
                    <div class="w-100">
                        <span class="catname">@ViewBag.PageName</span>
                        <div class="c-menu-more is-hamburger float-right" data-toggle="collapse" href="#collapseExample">
                            <span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span>
                        </div>
                    </div>
                    <div class="collapse w-100" id="collapseExample">
                        <div class="card card-body w-100">
                            <ul class="w-100">
                                <li class="@(Request.RawUrl == Url.Action("Index", "Home") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Home")">Toàn cảnh thị trường</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("History", "History") ? "active" : "")">
                                    <a href="@Url.Action("History", "History")">Dữ liệu giao dịch</a>
                                </li>
                                <li class="@(Request.RawUrl.Contains(Url.Action("CompanyList", "Company")) ||Request.RawUrl.Contains(Url.Action("CompanyListSearch", "Company")) || Request.RawUrl.Contains(Url.Action("CompanyDetail", "Company")) ? "active" : "")">
                                    <a href="@Url.Action("CompanyList", "Company")">Dữ liệu doanh nghiệp</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("Index", "Profession") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Profession")">Thống kê ngành</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("BoLocCoPhieuList", "statistics") ? "active" : "")">
                                    <a href="@Url.Action("BoLocCoPhieuList", "statistics")">Bộ lọc cổ phiếu</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("ViMo", "ViMo") ? "active" : "")">
                                    <a href="@Url.Action("ViMo", "ViMo")">Vĩ mô</a>
                                </li>
                                <li class="@(Request.RawUrl == Url.Action("EventList", "Event") ? "active" : "")">
                                    <a href="@Url.Action("EventList", "Event")">Sự kiện</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*}*@
            </div>
        </div>
        <div class="l-content">
            <div class="container">


                @RenderBody()


                <!--end c-content-flex-->
            </div>
            <!--end container-->
        </div>
        <!--end l-content-->
        <!--Footer part-->
        <!--l-footer-->
        <div class="l-footer">

            <div class="container">
                @Html.Partial("Partials/FooterPartial")
            </div>
            <!--end container-->
        </div>
        <!--end l-footer-->

    </div>
    <!-- Modal -->
    <div class="modal watch-list-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content p-3">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-9 col-9">
                            <div class="c-search">
                                <div class="c-search__inner">
                                    <input class="form-control" id="txt-keyword" type="text" name="" placeholder="Mã chứng khoán muốn theo dõi" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-3"><button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button></div>
                    </div>
                </div>
                <ul class="c-box follow is-line-bottom m-3 watch-list-popup">
                </ul>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script>
        var swiper = new Swiper(".topcontents", {
            slidesPerView: "auto",
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                var top = $('.sticky-menu').offset().top;
                var scrollTop = $(this).scrollTop();

                if (scrollTop > top) {
                    $('.c-menu-outer').addClass('c-menu-fixed');
                    $('.c-mega-menu').addClass('c-menu-fixed');
                    $('.sticky-menu').height($('.c-menu-outer').height());
                } else {
                    $('.c-menu-outer').removeClass('c-menu-fixed');
                    $('.c-mega-menu').removeClass('c-menu-fixed');
                    $('.sticky-menu').height(0);
                }
            });
        });
    </script>
    <script src='https://dataview.nguoiquansat.vn/dulieu.js'></script>
</body>
</html>
