@model Nqs.Models.FormModel.ViMo.ViMoListModel
@{
    ViewBag.Title = "Vĩ mô";
    ViewBag.PageName = "Vĩ mô";
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
}

@section Styles{
    @Styles.Render("~/bundles/styles/bootstrap-table")
    <style>
        .vimo-table th.left {
            text-align: left !important;
        }

        .vimo-table th.right {
            text-align: right !important;
        }
    </style>
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<input type="hidden" id="hd-vimo-selected-tab" value="1" />
<div class="c-content-flex home-index">
    <div class="l-main">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="topnews b-grid">

                    <div class="c-box c-other">
                        <div class="c-box__title white__bg is-line-bottom"><a class="c-box__title__name" href="#">TỔNG QUAN</a></div>

                        <!--end c-box__content-->
                        <div class="c-topic-grid">
                            <div class="table-responsive-sm table-scroll">
                                <br />
                                <table class="table table-hover table-striped table-bordered table-common vimo-table" id="x">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="left">Chỉ số</th>
                                            <th scope="col" style="min-width: 100px;">Kỳ</th>
                                            <th scope="col" class="right" style="min-width: 100px;">Giá trị</th>
                                            <th scope="col" style="min-width: 50px;">Đơn vị tính</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {
                                            <tr>
                                                <td scope="col">@item.name</td>
                                                <td class="text-center">@item.timePart</td>
                                                <td class="text-right">@item.strValue</td>
                                                <td class="text-center">@item.unit</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="info-navbar info-grey" id="mainTab">
                    <li class="active">
                        <a href="#tab-gdp" class="tablink" data-id="1" data-toggle="tab">GDP</a>
                    </li>
                    <li>
                        <a href="#tab-cpi-lamphat" class="tablink" data-id="2" data-toggle="tab">CPI - Lạm phát</a>
                    </li>
                    <li>
                        <a href="#tab-xuat-nhap-khau" class="tablink" data-id="3" data-toggle="tab">Xuất nhập khẩu</a>
                    </li>
                    <li>
                        <a href="#tab-fdi" class="tablink" data-id="4" data-toggle="tab">FDI</a>
                    </li>
                    <li>
                        <a href="#tab-tin-dung" class="tablink" data-id="5" data-toggle="tab">Tín dụng</a>
                    </li>
                    <li>
                        <a href="#tab-dan-so-lao-dong" class="tablink" data-id="6" data-toggle="tab">Dân số lao động</a>
                    </li>
                    <li>
                        <a href="#tab-vang-ngoai-te" class="tablink" data-id="7" data-toggle="tab">Vàng ngoại tệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="tab-content clearfix">
                    <br />
                    <div class="tab-pane active" id="tab-gdp">
                        <div class="row">
                            @Html.Partial("~/Views/ViMo/Partials/Gdp.cshtml")
                        </div>
                        <div class="row" id="gdp-partial">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-cpi-lamphat">
                        @Html.Partial("~/Views/ViMo/Partials/Cpi.cshtml")
                    </div>
                    <div class="tab-pane" id="tab-xuat-nhap-khau">
                        <div class="row">
                            @Html.Partial("~/Views/ViMo/Partials/XuatNhapKhau.cshtml")
                        </div>
                        <div class="row" id="xuatnhapkhau-partial">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-fdi">
                        <div class="row">
                            @Html.Partial("~/Views/ViMo/Partials/Fdi.cshtml")
                        </div>
                        <div class="row" id="fdi-partial">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-tin-dung">
                        <div class="row">
                            @Html.Partial("~/Views/ViMo/Partials/TinDung.cshtml")
                        </div>
                        <div class="row" id="tindung-partial">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-dan-so-lao-dong">
                        <div class="row">
                            @Html.Partial("~/Views/ViMo/Partials/Dsld.cshtml")
                        </div>
                        <div class="row" id="dsld-partial">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-vang-ngoai-te">
                        <div class="row">
                            @Html.Partial("~/Views/ViMo/Partials/VangNgoaiTe.cshtml")
                        </div>
                        <div class="row" id="vangngoaite-partial">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="l-sidebar d-inline-grid">

        <div class="c-box is-border is-primary is-minus-mobile order-sm-2">
            <div class="c-box__title">
                <div class="c-box__title__name">TIN VĨ MÔ</div>
            </div>
            <div class="c-box__content">
                <div class="c-other c-news-forcus is-line-bottom is-last">
                    <ul>
                        @foreach (var item in Model.NewsList)
                        {
                            <li>
                                <div class="b-grid">
                                    <div class="b-grid__img">
                                        <a href="@item.Url" target="_blank">
                                            <img src="@item.Thumbnai" alt="@item.Title" title="@item.Title">
                                        </a>
                                    </div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <h3 class="b-grid__title"><a target="_blank" title="@item.Title" href="@item.Url">@(item.Title.Length > 120 ? item.Title.Substring(0, 120) + "..." : item.Title)</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </li><!--end li c-news-forcus-->
                        }
                    </ul>
                </div>
                <!--end c-news-new-->
            </div>
            <!--end c-box__content-->
        </div>
        
        @{Html.RenderPartial("~/Views/Shared/Partials/ExchangeRateRightBox.cshtml", Model); }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/script/bootstrap-table")
    @Scripts.Render("~/bundles/vimo")
}
