@using System.Text.RegularExpressions
@using System.Text
@using Nqs.Models.FormModel.Common
@using Nqs.Models.FormModel.TechnicalTerms
@using Nqs.Models.FormModel.Company
@using Nqs.Models.FormModel.News
@{
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
    ViewBag.PageName = "Thuật ngữ";
    ViewBag.Title = "Thuật ngữ";
}
@section Styles{
    @Styles.Render("~/bundles/styles/technical-term")
}
@model BaseModels<TechnicalTermsGetByIdMdl>
@if (Model != null)
{
    if (Model.DataObject == null)
    {
        ViewBag.SubTitle = $"Không tìm thấy dữ liệu liên quan đến thuật ngữ {ViewBag.Terms}";
        ViewBag.Title = $"Không tìm thấy dữ liệu liên quan đến thuật ngữ {ViewBag.Terms}";
    }
    else
    {
        ViewBag.SubTitle = $"Giải nghĩa thuật ngữ: {Model.DataObject.Title}";
        ViewBag.Title = $"Giải nghĩa thuật ngữ: {Model.DataObject.Title}";
    }
}
@{
    var dataReadMore = (BaseModels<List<TechnicalTermsMdl>>)ViewBag.DataTermLike;
    var dataReadTop = (BaseModels<List<TechnicalTermsMdl>>)ViewBag.DataTermsTop5;
    if (!dataReadMore.IsSuccess)
    {
        dataReadMore = new BaseModels<List<TechnicalTermsMdl>>() { DataObject = new List<TechnicalTermsMdl>() };
    }
    if (!dataReadTop.IsSuccess)
    {
        dataReadTop = new BaseModels<List<TechnicalTermsMdl>>() { DataObject = new List<TechnicalTermsMdl>() };
    }
    var dataNews = (BaseListModel<NewsModel>)ViewBag.NewsList;
    if (dataNews == null)
    {
        dataNews = new BaseListModel<NewsModel>() { DataList = new List<NewsModel>() };
    }
    var dataNewsLinked = (List<CompanyGetNewsMdl>)ViewBag.NewsListLinked;
    if (dataNewsLinked == null)
    {
        dataNewsLinked = new List<CompanyGetNewsMdl>();
    }
}
@functions
{
    public string LoaiDau(string str)
    {
        str = str ?? string.Empty;
        Regex regex = new Regex("\\p{IsCombiningDiacriticalMarks}+");
        string temp = str.Normalize(NormalizationForm.FormD);
        return regex.Replace(temp, String.Empty)
                    .Replace('đ', 'd').Replace('Đ', 'D').Replace(" ", "-");
    }
}
<div class="technical-terms-detail">
    @if (Model.DataObject == null)
    {
        <div class="b-grid__title">
            <span class="name">@ViewBag.SubTitle</span>
        </div>
        return;
    }
    <div class="c-content-flex">
        <div class="l-main">
            <div class="c-news-detail">
                <div class="b-maincontent">
                    <div class="option">
                        <div class="search">
                            <div class="input-group col-md-4">
                                <div class="custom-autocomplete-terms">
                                    <input class="form-control technical-terms-search" type="text" name="" placeholder="Thuật ngữ" autocomplete="off" id="input-technical-terms-search" />
                                    <button class="c-search__btn btn-search" type="button" onclick="SearchByText()">
                                        <i class="icon16-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="filter-symbol">
                            @{
                                var arrarSymbol = "#,A, B, C, D, E, F, G, H, I ,J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z".Split(',');
                            }
                            <ul>
                                @foreach (var item in arrarSymbol)
                                {
                                    <li><a href="@Url.Action("IndexBySearch","TechnicalTerms",new { valueSearch=(item.Trim()=="#"?string.Empty: item.Trim()),typeSearch=1})">@item.Trim()</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" id="type" value="0" />
                    <input type="hidden" id="typeSearch" value="1" />
                    <input type="hidden" id="valueSearch" value="#,A, B, C, D, E, F, G, H, I ,J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z" />
                    <div id="content-list-terms">

                    </div>
                    <div>
                        <div class="b-grid__title">
                            <span class="name">@Model.DataObject.Title</span>
                        </div>
                        <div>
                            <p>
                                @Html.Raw(Model.DataObject.Content)
                            </p>
                        </div>
                        <div class="note">
                            <span>(*) Lưu ý: </span>
                            <span>Nội dung được tổng hợp từ nhiều nguồn tin cậy, có giá trị tham khảo cho người tra cứu. Tuy nhiên, chúng tôi không chịu trách nhiệm trước mọi rủi ro do sử dụng nội dung này.</span>
                        </div>
                    </div>

                    @if (dataNewsLinked.Any())
                    {
                        <div class="c-box c-other mb-3">
                            <div class="c-box__title grey__bg"><a class="c-box__title__name" href="#">Bài viết liên quan</a></div>
                            <div class="c-template-list">
                                <ul>
                                    @foreach (var item in dataNewsLinked)
                                    {
                                        <li>
                                            <div class="b-grid">
                                                <div class="b-grid__row h-show-pc">
                                                    <h3 class="b-grid__title"><a href="@item.Url">@item.Title</a></h3>
                                                </div>
                                                <div class="b-grid__img"><a href="@item.Url"><img src="@item.Thumbnai" alt="@item.Title" title="@item.Title"></a></div>
                                                <div class="b-grid__content">
                                                    <div class="b-grid__row h-show-mobile">
                                                        <h3 class="b-grid__title"><a href="@item.Url">@item.Title</a></h3>
                                                    </div>
                                                    <div class="b-grid__row b-grid__desc">
                                                        @Html.Raw(item.ShortContent)
                                                    </div>
                                                    <div class="b-grid__row"><a class="b-grid__cat" href='@($"https://nguoiquansat.vn/{LoaiDau(item.Category)}".ToLower())'>@item.Category</a></div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>

                            </div>
                            <!--end c-box__content-->
                        </div>
                    }
                </div>
            </div>
            <!--end c-news-detail-->
        </div>
        <!--end l-main-->
        <div class="l-sidebar">
            <div class="c-box read-more">
                <div class="c-box__title">
                    <div class="c-box__title__name">Xem thêm</div>
                </div>
                <ul class="c-box is-border is-line-bottom mb-3">
                    @foreach (var item in dataReadMore.DataObject)
                    {
                        <li>
                            <span><a href="@Url.Action("TechnicalTermDetail","TechnicalTerms",new { title=M.Common.Extensions.RegexHelper.TiengVietKDau(item.Title).ToLower(),id=item.TermId})">@item.Title</a></span>
                        </li>
                    }
                </ul>
            </div>
            <div class="c-box read-more-top">
                <div class="c-box__title">
                    <div class="c-box__title__name">Tra cứu nhiều</div>
                </div>
                <ul class="c-box is-border is-line-bottom mb-3">
                    @foreach (var item in dataReadTop.DataObject)
                    {
                        <li>
                            <span><a href="@Url.Action("TechnicalTermDetail","TechnicalTerms",new { title=M.Common.Extensions.RegexHelper.TiengVietKDau(item.Title).ToLower(),id=item.TermId})">@item.Title</a></span>
                        </li>
                    }
                </ul>
            </div>
            <div class="c-box top-news">
                <div class="c-box__title">
                    <div class="c-box__title__name">Tin tức nổi bật</div>
                </div>
                <ul class="c-box is-border">
                    @foreach (var item in dataNews.DataList)
                    {
                        <li>
                            <div class="b-grid">
                                <div class="b-grid__img">
                                    <a href="@item.Url" target="_blank">
                                        <img src="@item.Thumbnai" alt="@item.Title" title="@item.Title">
                                    </a>
                                </div>
                                <div class="b-grid__content">
                                    <div class="b-grid__row">
                                        <h3 class="b-grid__title"><a target="_blank" title="@item.Title" href="@item.Url">@(item.Title.Length > 120 ? item.Title.Substring(0, 120) +"..." : item.Title)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        var urlLoadMoreTerms = '@Url.Action("SearchTerns", "TechnicalTerms")';
        var urlLoadAllTerms = '@Url.Action("LoadAllTermsForComplete", "TechnicalTerms")';
    </script>
    @Scripts.Render("~/bundles/script/technical-term")
}
