@using Nqs.Models.FormModel.Common
@using Nqs.Models.FormModel.TechnicalTerms
@{
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
    ViewBag.PageName = "Thuật ngữ";
    ViewBag.Title = "Thuật ngữ";
}
@section Styles{
    @Styles.Render("~/bundles/styles/technical-term")
}
@model BaseModels<TechnicalTermsGetByIdMdl>
@if (Model != null)
{
    if (Model.DataObject==null)
    {
        ViewBag.SubTitle = $"Không tìm thấy dữ liệu liên quan đến thuật ngữ {ViewBag.Terms}";
        ViewBag.Title = $"Không tìm thấy dữ liệu liên quan đến thuật ngữ {ViewBag.Terms}";
    }
    else
    {
        ViewBag.SubTitle = $"Thuật ngữ: {Model.DataObject.Title}";
        ViewBag.Title = $"Thuật ngữ: {Model.DataObject.Title}";
    }
}

<div class="technical-terms-detail">
    @if (Model.DataObject == null)
    {
        <div class="b-grid__title">
            <span class="name">@ViewBag.SubTitle</span>
        </div>
        return;
    }
    <div class="c-content-flex">
        <div class="l-main">
            <div class="c-news-detail">
                <div class="b-maincontent">
                    <div class="option">
                        <div class="search">
                            <div class="input-group col-md-4">
                                <input class="form-control py-2" type="search" value="search" id="search-input">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" onclick="SearchType(2)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="filter-symbol">
                            @{
                                var arrarSymbol = "#,A, B, C, D, E, F, G, H, I ,J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z".Split(',');
                            }
                            <ul>
                                @foreach (var item in arrarSymbol)
                                {
                                    <li><a href="javascrip:void(0)" onclick="SearchBySymbol(this)" data-symbol="@item.Trim()">@item.Trim()</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" id="type" value="0" />
                    <input type="hidden" id="typeSearch" value="1" />
                    <input type="hidden" id="valueSearch" value="" />
                    <div>
                        <div class="b-grid__title">
                            <span class="name">@Model.DataObject.Title</span>
                        </div>
                        <div>
                            <p>
                                @Model.DataObject.Content
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--end c-news-detail-->
        </div>
        <!--end l-main-->
        <div class="l-sidebar">

        </div>

    </div>
</div>
@section Scripts{
    <script>
        var urlLoadMoreTerms = '@Url.Action("SearchTerns", "TechnicalTerms")';
    </script>
    @Scripts.Render("~/bundles/script/technical-term")
}
