
@{
    ViewBag.Title = "Thống kê ngành";
    ViewBag.PageName = "Thống kê ngành";
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
    ViewBag.SubTitle = "Thống kê ngành";
}
@section Styles{
    @Styles.Render("~/bundles/styles/bootstrap-table")
    @Styles.Render("~/bundles/styles/profession")
}
<link href="~/Assets/bundles/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Assets/bundles/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css" rel="stylesheet" />
<script src="~/Assets/bundles/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="~/Assets/bundles/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
<div class="container-fluid profession">
    <div class="option">
        <div class="date">
            <label for="datelast" class="col-form-label">Ngày</label>
            <input type="text" class="form-control datetimepicker-input" id="datelast" readonly />
        </div>

        <div class="exchange">
            <label for="exchange" class="col-form-label">Sàn</label>
            <select class="form-control" id="exchange">
                <option value="0">Tất cả</option>
                <option value="1">HOSE</option>
                <option value="2">HNX</option>
                <option value="5">UPCoM</option>
            </select>
        </div>
        <div class="btn-submit">
            <button class="btn btn-blue" onclick="loadDataReportProfession()">Tra cứu </button>
        </div>
    </div>
    <div id="container-profess"></div>
    <div class="note">
        <span>ĐVT: Vốn hóa: Nghìn tỷ đồng; GTGD: Tỷ đồng</span>
    </div>
</div>

@section Scripts{
    <script>
    var urlLoadReportProfess = '@Url.Action("ProfessionByExchange", "Profession")';
    </script>
    @Scripts.Render("~/bundles/script/bootstrap-table")
    @Scripts.Render("~/bundles/script/profession")
}

