
@{
    ViewBag.Title = "Người Quan Sát | Phân tích ngành hàng, thống kê dữ liệu ngành hàng, hồ sơ doanh nghiệp chuyên sâu";
    ViewBag.PageName = "Thống kê ngành";
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
    ViewBag.SubTitle = "Thống kê ngành";
}
@section metatags
{
    <meta property="og:title" content="Người Quan Sát | Phân tích ngành hàng, thống kê dữ liệu ngành hàng, hồ sơ doanh nghiệp chuyên sâu">
    <meta name="keywords" content="Thị trường chứng khoán, diễn biến thị trường, hồ sơ doanh nghiệp, hồ sơ lãnh đạo, tra cứu thuật ngữ kinh tế, phân tích kỹ thuật, cơ hội đầu tư, lọc cổ phiếu tốt" />
    <meta name="description" content="Hệ thống dữ liệu chuyên sâu về thị trường chứng khoán, hồ sơ doanh nghiệp, hồ sơ lãnh đạo. Thống kê, phân tích chi tiết theo ngành hàng, lĩnh vực kinh doanh. Tìm kiếm cơ hội đầu tư, tìm cổ phiếu tốt" />
    <meta property="og:description" content="Hệ thống dữ liệu chuyên sâu về thị trường chứng khoán, hồ sơ doanh nghiệp, hồ sơ lãnh đạo. Thống kê, phân tích chi tiết theo ngành hàng, lĩnh vực kinh doanh. Tìm kiếm cơ hội đầu tư, tìm cổ phiếu tốt" />
    <meta property="og:image" content="https://nqs.1cdn.vn/assets/images/ogimage1105.png" />
    <meta property="og:url" content="@Request.Url" />
}
@section Styles{
    @Styles.Render("~/bundles/styles/bootstrap-table")
    @Styles.Render("~/bundles/styles/profession")
}
<link href="~/Assets/bundles/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Assets/bundles/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css" rel="stylesheet" />
<script src="~/Assets/bundles/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="~/Assets/bundles/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
<div class="container-fluid profession">
    <div class="option">
        <div class="date">
            <label for="datelast" class="col-form-label">Ngày</label>
            <input type="text" class="form-control datetimepicker-input" id="datelast" readonly />
        </div>

        <div class="exchange">
            <label for="exchange" class="col-form-label">Sàn</label>
            <select class="form-control" id="exchange">
                <option value="0">Tất cả</option>
                <option value="1">HOSE</option>
                <option value="2">HNX</option>
                <option value="5">UPCoM</option>
            </select>
        </div>
        <div class="btn-submit">
            <button class="btn btn-blue" onclick="loadDataReportProfession()">Tra cứu </button>
        </div>
    </div>
    <div id="container-profess"></div>
    <div class="note">
        <span>ĐVT: Vốn hóa: Nghìn tỷ đồng; GTGD: Tỷ đồng</span>
    </div>
</div>

@section Scripts{
    <script>
    var urlLoadReportProfess = '@Url.Action("ProfessionByExchange", "Profession")';
    </script>
    @Scripts.Render("~/bundles/script/bootstrap-table")
    @Scripts.Render("~/bundles/script/profession")
}

