@model Nqs.Models.FormModel.Iframe.BoxByStock
@{
    ViewBag.Title = "BoxByCode";
    Layout = "~/Views/Shared/_IframeBoxLayout.cshtml";
}
<style>
    .green {
        color: #00873c;
    }

    .red {
        color: #da374a;
    }

    .yellow {
        color: #fed018;
    }

    .celling {
        color: #c735eb !important;
    }

    .flooring {
        color: #6982ad !important;
    }

    .text {
        color: #076DB6;
        font-size: 15px;
    }

    .price {
        font-weight: 700;
        font-size: 24px;
    }

    .change {
        font-size: 12.2px;
        padding-top: 7px;
    }

    .name {
        font-size: 13px;
        color: #076DB6;
        padding-top: 5px;
        padding-bottom: 8px;
        padding-left: 0;
        font-family: 'Roboto';
    }

    .line-bottom {
        border-bottom: 0.500894px solid #E5E5E5;
        margin-bottom: 5px;
    }

    .wrap {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        border-top: 4px solid #3B1B70;
        border-bottom: 1px solid rgba(34, 34, 34, 0.3);
        border-right: 1px solid rgba(34, 34, 34, 0.3);
        border-left: 1px solid rgba(34, 34, 34, 0.3);
        padding: 5px 0px 5px 10px;
    }

    .link-company {
        font-weight: 700;
        padding: 5px 5px 5px 0px;
        font-size: 12px;
    }

    .green::before {
        background-image: url('../../Assets/v2/images/icons/iconup.svg');
        width: 13px;
        height: 13px;
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        margin-right: 0px;
    }

    .red::before {
        background-image: url(../../Assets/v2/images/icons/icondown.svg);
        width: 13px;
        height: 15px;
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        margin-right: 0px;
    }
</style>
<div class="row wrap" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12 col-12 line-bottom name">
        @{
            var name = Model.Name + " (" + Model.Code + " - " + Model.ExCode + ")";

            <span>@(name.Length > 55 ? name.Substring(0, 55) : name)</span>
        }
    </div>
    <div class="col-lg-12 col-12">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-lg-3 col-3 text-center" style="padding: 0; color: rgba(34, 34, 34, 0.7); font-size: 13px; ">
                        Giá
                    </div>
                    <div class="col-lg-3 col-5 text-center" style="padding: 0; color: rgba(34, 34, 34, 0.7); font-size: 13px; ">
                        Thay đổi
                    </div>
                    <div class="col-lg-4 col-4 text-center" style="padding: 0; color: rgba(34, 34, 34, 0.7); font-size: 13px; ">
                        KLGD
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-3 text" style="text-align:center;">
                        <h2 class="price">@(Model.Price.HasValue ? Model.Price.Value.ToString("N2") : "")</h2>
                    </div>
                    <div class="col-lg-3 col-5 change @Model.Color" style="text-align:center;">
                        <span>@(Model.Change.HasValue ? Model.Change.Value.ToString("N2") : "")</span>
                        <span>(@(Model.PerChange.HasValue ?  Model.PerChange.Value.ToString("N2")+"%" : ""))</span>
                    </div>
                    <div class="col-lg-4 col-4" style="text-align: center; padding-top: 10px; font-size: 12.2px; color: #076DB6">
                        @(Model.Volume.HasValue ? Model.Volume.Value.ToString("N0")+"(CP)" : "")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-6">
                        <div class="row">
                            <div class="col-lg-12 col-12" style="color: rgba(34, 34, 34, 0.7); padding: 5px 5px 5px 0px; font-size: 12px; ">
                                Cập nhật: @Model.Time
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-12" style="color: rgba(34, 34, 34, 0.7); padding: 5px 5px 5px 0px; font-size: 12px; ">
                                Diễn biến giá 6 tháng
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-12  link-company">
                                <a style="color: #1776BB !important;" href="@Url.Action("CompanyDetail", "Company", new { code=Model.Code })" target="_blank">
                                    Xem hồ sơ doanh nghiệp <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.9502 3.43561L0.333916 6.65957L0.333916 0.21164L5.9502 3.43561Z" fill="#1776BB" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div id="chart-iframebox" style="min-height: 90px; width: 100%;"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var el = "chart-iframebox";
        var code = "@Model.Code";
        var url = configHomeUrl.homeGetDataBy + "?type=6MONTH&code="+code;
        var params = "";
        AjaxHelper.ajaxCall(url, params, function (result) {
            if (result.ErrCode != "01") {

                ChartHelper.renderChartIndex1(el,
                    code,
                    result.DataIndex,
                    result.DataVolume,
                    result.BasePrice,
                    result.MinPrice,
                    result.MaxPrice,
                    false
                );
            }
        });
    });
</script>