@model Nqs.Models.FormModel.Home.Top5
@{
    ViewBag.Title = "Top5";
    Layout = "~/Views/Shared/_IframeBoxLayout.cshtml";
}
<style>
    body{
        overflow: hidden;
    }
    .c-box .c-box__title {
        padding-top: 8px !important;
        padding-bottom: 7px !important;
    }
    .c-box .c-box__title .c-box__title__name {
        display: inline !important;
    }

    .link-detail {
        float: right;
        text-transform: none;
        font-size: 13px;
        color: #3B1B70;
        padding-top: 3px;
    }
    @@media only screen and (min-width: 330px) {
        .c-thongke .c-box__content > ul.is-line-bottom > li a {
            padding: 0 30px;
        }

        .c-thongke .c-box__content > ul.is-line-bottom > li:nth-child(2) a {
            padding: 0 50px;
        }
    }
    @@media only screen and (min-width: 300px) and (max-width: 330px) {
        .c-thongke .c-box__content > ul.is-line-bottom > li a {
            padding: 0 20px;
        }

        .c-thongke .c-box__content > ul.is-line-bottom > li:nth-child(2) a {
            padding: 0 30px;
        }
    }
   
    @@media only screen and (max-width: 250px) {
        .c-thongke .c-box__content > ul.is-line-bottom > li a {
            padding: 0 10px;
            color: #000;
            font-weight: bold;
            font-size: 14px;
        }
    }


    .c-thongke .c-box__content > ul.is-line-bottom {
        text-transform: unset;
    }

        .c-thongke .c-box__content > ul.is-line-bottom > li a.active {
            color: #340C78;
        }

    .c-thongke .c-box__content > ul.is-line-bottom {
        border-bottom: 1px solid #ED7223;
    }

        .c-thongke .c-box__content > ul.is-line-bottom > li:nth-child(1) a {
            padding-left: 0px;
        }

    .c-thongke .c-box__content > ul.contentinfo > li {
        border-bottom: none !important;
    }

        .c-thongke .c-box__content > ul.contentinfo > li a {
            color: #340C78 !important;
        }

    .l-content {
        padding-top: 0px;
    }

    .item-code {
        font-weight: bold;
    }

    .value-color {
        color: #757575 !important;
        font-weight: 400;
    }

    .top5-header-col-1, .top5-header-col-2, .top5-header-col-3 {
        font-size: 14px;
        font-weight: bold;
    }

    .top5-col-2, .top5-col-3 {
        text-align: right !important;
    }

    .mobile .top5-col-2, .mobile .top5-col-3 {
        text-align: center !important;
    }

    .top5-header-col-1, .top5-col-1 {
        width: 23%;
        display: block;
        float: left;
    }

    .top5-header-col-2, .top5-col-2 {
        width: 43%;
        display: block;
        float: left;
    }

    .top5-header-col-3, .top5-col-3 {
        width: 34%;
        display: block;
        float: left;
    }

    .c-box__content {
        background: #F7F7F7 !important;
    }

    .c-box.is-minus-mobile .c-box__content {
        padding: 4px 8px 0 8px !important;
    }

    .c-box.c-update .c-box__title {
        background-color: #ededed;
    }
</style>
<div class="c-topbox">
    <div class="l-content">
        <div class="container">

            <div class="l-sidebar d-inline-grid">
                <div class="c-box c-thongke is-primary is-minus-mobile c-update">
                    <div class="c-box__title">
                        <div class="c-box__title__name">TOP 5 CỔ PHIẾU <a class="link-detail" href="/" target="_top">Xem thêm</a></div>
                    </div>
                    <div class="c-box__content">
                        <ul class="is-line-bottom">
                            <li class="active">
                                <a href="javascript:void(0)" class="infolinks btn-tab active" data-tab="1">KLGD</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" class="infolinks btn-tab" data-tab="2">GTGD</a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" class="infolinks btn-tab" data-tab="3">Mua ròng</a>
                            </li>
                        </ul>
                        <ul class="contentinfo" id="tab-1" style="display: block;">
                            <li class="label1"><span class="top5-header-col-1">Mã CK</span><span class="text-center top5-header-col-2">Giá</span><span class="text-center top5-header-col-3">KLGD</span></li>
                            @foreach (var item in Model.Klgd)
                            {
                                <li>
                                    <span class="item-code top5-col-1">
                                        <a target="_top" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a>
                                    </span>
                                    <span class="top5-col-2">
                                        <span class="value-color">@item.Price.ToString("N2")</span>   <span class="@(item.PerChange > 0 ? "green" : (item.PerChange <0 ? "red" : "yellow"))">(@item.PerChange.ToString("n2")%) </span>
                                    </span>
                                    <span class="value-color top5-col-3">@item.Value.ToString("N0")</span>
                                </li>
                            }

                        </ul>
                        <ul class="contentinfo" id="tab-2">
                            <li class="label1"><span class="top5-header-col-1">Mã CK</span><span class="text-center top5-header-col-2">Giá</span><span class="text-center top5-header-col-3">GTGD</span></li>
                            @foreach (var item in Model.Gtgd)
                            {
                                <li>
                                    <span class="item-code  top5-col-1">
                                        <a target="_top" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a>
                                    </span>
                                    <span class="top5-col-2">
                                        <span class="value-color">
                                            @item.Price.ToString("N2")
                                        </span>   <span class="@(item.PerChange > 0 ? "green" : (item.PerChange <0 ? "red" : "yellow"))">(@item.PerChange.ToString("n2")%) </span>
                                    </span>
                                    <span class="value-color top5-col-3">@item.Value.ToString("N2")</span>
                                </li>
                            }
                            
                        </ul>
                        <ul class="contentinfo" id="tab-3">
                            <li class="label1"><span class="top5-header-col-1">Mã CK</span><span class="text-center top5-header-col-2">Giá</span><span class="text-center top5-header-col-3">Mua ròng</span></li>
                            @foreach (var item in Model.Rong)
                            {
                                <li>
                                    <span class="item-code  top5-col-1">
                                        <a target="_top" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a>
                                    </span>
                                    <span class=" top5-col-2">
                                        <span class="value-color">
                                            @item.Price.ToString("N2")
                                        </span>   <span class="@(item.PerChange > 0 ? "green" : (item.PerChange <0 ? "red" : "yellow"))">(@item.PerChange.ToString("n2")%) </span>
                                    </span>
                                    <span class="value-color top5-col-3">@item.Value.ToString("N0")</span>
                                </li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-tab').click(function () {
            $('.btn-tab.active').removeClass('active');
            $(this).addClass('active');
            var tab = $(this).attr("data-tab");
            $('.contentinfo').css('display', 'none');
            $('#tab-' + tab).css('display', 'block');
        });
    });
</script>
