
@{
    ViewBag.Title = "Người Quan Sát | Hệ thống dữ liệu chuyên sâu về thị trường chứng khoán, hồ sơ doanh nghiệp";
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
}
@section metatags
{
    <meta property="og:title" content="Người Quan Sát | Hệ thống dữ liệu chuyên sâu về thị trường chứng khoán, hồ sơ doanh nghiệp">
    <meta name="keywords" content="Thị trường chứng khoán, diễn biến thị trường, hồ sơ doanh nghiệp, hồ sơ lãnh đạo, tra cứu thuật ngữ kinh tế, phân tích kỹ thuật, cơ hội đầu tư, lọc cổ phiếu tốt" />
    <meta name="description" content="Hệ thống dữ liệu chuyên sâu về thị trường chứng khoán, kinh tế tài chính, hồ sơ doanh nghiệp, hồ sơ lãnh đạo, thuật ngữ kinh tế, kinh tế vĩ mô, phân tích kỹ thuật, tìm kiếm cơ hội đầu tư" />
    <meta property="og:description" content="Hệ thống dữ liệu chuyên sâu về thị trường chứng khoán, kinh tế tài chính, hồ sơ doanh nghiệp, hồ sơ lãnh đạo, thuật ngữ kinh tế, kinh tế vĩ mô, phân tích kỹ thuật, tìm kiếm cơ hội đầu tư" />
    <meta property="og:image" content="https://nqs.1cdn.vn/assets/images/ogimage1105.png" />
    <meta property="og:url" content="@Request.Url" />
}
<link rel="stylesheet" href="~/Assets/bundles/treegrid/css/jquery.treegrid.css" />
<script src="~/Assets/bundles/treegrid/js/jquery.treegrid.min.js"></script>
<input type="hidden" id="hd-tab" class="hd-tab" value="kqkd" />
<input type="hidden" id="hd-company-code" class="hd-company-code" value="@ViewBag.Code" />
<input type="hidden" id="hd-current-year" class="hd-current-year" value="@DateTime.Now.Year" />

<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <ul class="info-navbar info-grey" id="mainTab">
                <li class="active">
                    <a href="#kqkd-tab" class="tablink" data-id="kqkd" data-toggle="tab">Kết quả kinh doanh</a>
                </li>
                <li>
                    <a href="#cdkt-tab" class="tablink" data-id="cdkt" data-toggle="tab">Cân đối kế toán</a>
                </li>

            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="kqkd-tab">
                    <input type="hidden" id="hd-kqkd-year" class="hd-kqkd-year" value="@ViewBag.YearQuarter.Year" />
                    <input type="hidden" id="hd-kqkd-quarter" class="hd-kqkd-quarter" value="@ViewBag.YearQuarter.Quarter" />
                    <div class="table-responsive-sm table-scroll">
                        <br />
                        <table class="table table-hover table-striped table-bordered table-common">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 200px;">
                                        <button id="btn-kqkd-prev"><<</button>&nbsp;
                                        <button id="btn-kqkd-next">>></button>&nbsp;

                                        <select style="width: 100px;" id="ddl-kqkd-type">
                                            <option value="quy">Theo quý</option>
                                            <option value="nam">Theo năm</option>
                                        </select>
                                        <span>Đơn vị: 1,000,000</span>
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-responsive-sm table-scroll grid-kqkd">
                    </div>
                </div>
                <div class="tab-pane" id="cdkt-tab">
                    <input type="hidden" id="hd-cdkt-year" class="hd-cdkt-year" value="@ViewBag.YearQuarter.Year" />
                    <input type="hidden" id="hd-cdkt-quarter" class="hd-cdkt-quarter" value="@ViewBag.YearQuarter.Quarter" />
                    <div class="table-responsive-sm table-scroll">
                        <br />
                        <table class="table table-hover table-striped table-bordered table-common">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 200px;">
                                        <button id="btn-cdkt-prev"><<</button>&nbsp;
                                        <button id="btn-cdkt-next">>></button>&nbsp;

                                        <select style="width: 100px;" id="ddl-cdkt-type">
                                            <option value="quy">Theo quý</option>
                                            <option value="nam">Theo năm</option>
                                        </select>
                                        <span>Đơn vị: 1,000,000</span>
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-responsive-sm table-scroll grid-cdkt">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/financehistory")