
<div class="col-lg-12">
    <form id="dsld-form">
        
        <div class="col-lg-2 col-sm-12 col-12 mb-2">
            <div class="form-group">
                <label for="ddl-dsld-from-nam" class="lbl-dsld-from-nam">Từ năm</label>
                <select class="form-control" id="ddl-dsld-from-nam" name="fromYear">
                    @foreach (var item in M.Common.Helpers.DateTimeHelper.GetYears(DateTime.Now.AddYears(-10).Year))
                    {
                        <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-sm-12 col-12 mb-2">
            <div class="form-group">
                <label for="ddl-dsld-to-nam" class="lbl-dsld-to-nam">Đến năm</label>
                <select class="form-control" id="ddl-dsld-to-nam" name="toYear">
                    @foreach (var item in M.Common.Helpers.DateTimeHelper.GetYears())
                    {
                        <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-1 col-sm-12 col-12 mb-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-blue btn-search-dsld">Xem</button>
            </div>
        </div>
    </form>
</div>
