@using M.Common.Extensions;﻿
@model Nqs.Models.FormModel.Common.BaseListModel<Nqs.Models.FormModel.Home.TopIndex>

<ul class="is-line-bottom">
    <li class="label2">
        <span class="col-1">STT</span>
        <span class="col-2">Mã CK</span>
        @if (Model.Data.Type == "4")
        {
            <span class="col-3 text-right">GTGD</span>
        }
        else
            if (Model.Data.Type == "5" || Model.Data.Type == "6")
        {
            <span class="col-3 text-right">KL Mua ròng</span>
        }
        else
        {
            <span class="col-3 text-right">KLGD</span>
        }
        <span class="col-3 text-right">Giá</span>
        <span class="col-3 text-right">Thay đổi</span>
    </li>
    @foreach (var item in Model.DataList)
    {
        <li data-toggle="tooltip" data-placement="left" data-code="@item.Code"
            data-price="@item.TooltipPrice"
            data-change="@item.TooltipChange"
            data-perchange="@(item.TooltipPerChange)"
            data-price7day="@item.Tooltip7DayPrice"
            data-change7day="@item.s7DayChange"
            data-perchange7day="@(item.s7DayPerChange)"
            data-klgd="@item.TotalVolume"
            data-gtgd="@item.TotalValue"
            data-nnmua="@item.TooltipNNMuaVol"
            data-nnban="@item.TooltipNNBanVol"
            data-companyname="@item.TooltipName"
            data-color="@item.Color">

            <span class="col-1">@item.RowIndex</span>
            <span class="col-2 code"><a class="@item.Color" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a></span>
            <span class="col-3 text-right">@item.Value.FormatNumber()</span>
            <span class="col-3 text-right @item.Color">@item.Price.FormatNumber()</span>
            <span class="col-3 text-right @item.Color">@(item.Change.FormatNumber() + " ("+ item.PerChange.FormatNumber() + "%)")</span>
        </li>
    }
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        var isMobile = $("body").hasClass("mobile");
        if (!isMobile) {
            $('[data-toggle="tooltip"]').tooltip({
                html: true,
                delay: {
                    //hide: 50000
                },
                title: function () {
                    var code = this.getAttribute('data-code');
                    var price = this.getAttribute('data-price');
                    var change = this.getAttribute('data-change');
                    var perchange = this.getAttribute('data-perchange');
                    var price7day = this.getAttribute('data-price7day');
                    var change7day = this.getAttribute('data-change7day');
                    var perchange7day = this.getAttribute('data-perchange7day');
                    var klgd = CommonHelper.formatNumber(this.getAttribute('data-klgd'), 0);
                    var gtgd = this.getAttribute('data-gtgd');
                    var nnmua = CommonHelper.formatNumber(this.getAttribute('data-nnmua'), 0);
                    var nnban = CommonHelper.formatNumber(this.getAttribute('data-nnban'), 0);
                    var companyName = this.getAttribute('data-companyname');
                    var color = this.getAttribute('data-color');
                    var priceClass = color;
                    var price7DClass = "";

                    if (this.getAttribute('data-change7day') > 0) price7DClass = "green";
                    if (this.getAttribute('data-change7day') < 0) price7DClass = "red";

                    var str = "<div class='top-tool-tip'>";
                    str += "<span style='font-size: 15px;'>" + code + "</span>: <span style='font-size: 13px;'>" + companyName + "</span><hr/>";
                    str += "<h3><span class='item1'>Giá: </span><span class='item2'>" + price + "</span><span class='item3 " + priceClass + "'>" + change + "</span><span class='item4 " + priceClass + "'>(" + perchange + "%)</span></h3>";
                    str += "<h3><span class='item1'>7 ngày trước:</span><span class='item2'>" + price7day + "</span><span class='item3 " + price7DClass + "'>" + change7day + "</span><span class='item4 " + price7DClass + "'>(" + perchange7day + "%)</span></h3>";
                    str += "<h3><span class='item1'>KLGD:</span><span class='item2'>" + klgd + " cp</span><span class='item3'></span><span class='item4'></span></h3>";
                    str += "<h3><span class='item1'>GTGD:</span><span class='item2'>" + gtgd + " tỷ</span><span class='item3'></span><span class='item4'></span></h3>";
                    str += "<h3><span class='item1'>NN Mua:</span><span class='item2'>" + nnmua + " cp</span><span class='item3'></span><span class='item4'></span></h3>";
                    str += "<h3><span class='item1'>NN Bán:</span><span class='item2'>" + nnban + " cp</span><span class='item3'></span><span class='item4'></span></h3>";
                    str += "</div>";
                    return str;
                }
            }).on("hide.bs.tooltip", () => {
                $('.tooltip').remove();
            });
        }
    });
</script>