@using M.Common.Helpers
@using M.Common.Extensions
@using Nqs.Models.FormModel.Company
@model CompanyInforMdl

@{

    Layout = "~/Views/Shared/_NqsLayout.cshtml";
    var dataStock = (CompanyStockMdl)ViewBag.DataStock;
    ViewBag.PageName = "Dữ liệu doanh nghiệp";
    //var dataStockNN = (Nqs.Models.FormModel.Company.CompanyStockNNMdl)ViewBag.DataStockNN;
    var dataStockLikeProfess = (List<(string Code, string Name, CompanyStockMdl CompanyStock)>)ViewBag.DataStockLikeProfess;
    if (dataStockLikeProfess == null)
    {
        dataStockLikeProfess = new List<(string Code, string Name, CompanyStockMdl CompanyStock)>();
    }
    var topEPS = (List<CompanyTopEPSMdl>)ViewBag.DataFinanceTopEPS;
    if (topEPS == null)
    {
        topEPS = new List<CompanyTopEPSMdl>();
    }

    if (Model != null)
    {
        if (string.IsNullOrEmpty(Model.DataObject.Code))
        {
            ViewBag.SubTitle = $"Không tìm thấy dữ liệu liên quan đến mã {ViewBag.Code}";
            ViewBag.Title = $"Không tìm thấy dữ liệu liên quan đến mã {ViewBag.Code}";

        }
        else
        {
            ViewBag.SubTitle = $"{Model.DataObject.Name.Replace("CTCP", "Công ty Cổ phần")} ({Model.DataObject.Code} - {Model.DataObject.SanGD})";
            ViewBag.Title = Model.DataObject.Name.Replace("CTCP", "Công ty Cổ phần");
        }

    }
    if (dataStock == null)
    {
        dataStock = new CompanyStockMdl();
    }
    var dataFinanceEPS = (CompanyFinanceMdl)ViewBag.DataFinanceEPS;
    if (dataFinanceEPS == null)
    {
        dataFinanceEPS = new CompanyFinanceMdl();
    }
    var EPS = (dataFinanceEPS.EPS / dataStock.ListingVolume);
    var BVPS = (dataFinanceEPS.BVPS / dataStock.ListingVolume) / 1000;
    var PS = (dataStock.MarketCap * 1000 / dataFinanceEPS.PS);

    var dataSpecialPersonal = (List<CompanyPersonalGroupSpecialMdl>)ViewBag.DataSpecialPersonal;
    if (dataSpecialPersonal == null)
    {
        dataSpecialPersonal = new List<CompanyPersonalGroupSpecialMdl>();
    }
    var countPercentStockCeo = (double)(NumberHelper.GetStockPercent(ViewBag.DataPercentStockCeo) ?? 0.0);
    var dataNewShowPopup = (CompanyNewsMdl)ViewBag.DataNewsShowPopup;

}
@section metatags
{
    <meta property="og:title" content="Người Quan Sát | Hồ sơ doanh nghiệp @ViewBag.Code - @ViewBag.Title">
    <meta name="keywords" content="@ViewBag.Code, hồ sơ @ViewBag.Code, giá cổ phiếu @ViewBag.Code, ban lãnh đạo @ViewBag.Code, báo cáo tài chính @ViewBag.Code, tin tức @ViewBag.Code, sự kiện @ViewBag.Code, chia cổ tức @ViewBag.Code, cơ cấu sở hữu @ViewBag.Code" />
    <meta name="description" content="Hồ sơ doanh nghiệp @ViewBag.Code - @ViewBag.Title. Thông tin và dữ liệu chuyên sâu @ViewBag.Code, diễn biến giá cổ phiếu @ViewBag.Code. Hồ sơ Ban lãnh đạo, cơ cấu sở hữu, chỉ số tài chính, báo cáo tài chính, tin tức sự kiện @ViewBag.Code" />
    <meta property="og:description" content="Hồ sơ doanh nghiệp @ViewBag.Code - @ViewBag.Title. Thông tin và dữ liệu chuyên sâu @ViewBag.Code, diễn biến giá cổ phiếu @ViewBag.Code. Hồ sơ Ban lãnh đạo, cơ cấu sở hữu, chỉ số tài chính, báo cáo tài chính, tin tức sự kiện @ViewBag.Code" />
    <meta property="og:image" content="https://nqs.1cdn.vn/assets/images/ogimage1105.png" />
    <meta property="og:url" content="@Request.Url" />
}
@section Styles{

    @Styles.Render("~/bundles/styles/company-detail")
}
<div class="c-content-flex container-company-detail">
    @if (string.IsNullOrEmpty(Model.DataObject.Code))
    {
        <div class="b-grid__title">
            <span class="name">@ViewBag.SubTitle</span>
        </div>
        return;
    }
    else
    {
        <div class="b-grid__title">
            <span class="name">@ViewBag.SubTitle</span>
        </div>
    }

    <input type="hidden" id="input-code" value="@Model.DataObject.Code" />
    <input type="hidden" class="hd-type" value="DAY" />
    <input type="hidden" class="hd-exchange" value="@Model.DataObject.SanGD" />
    <div class="l-main">
        <div class="topnews b-grid c-content-flex is-line-bottom">
            <div class="l-topnews b-grid__row col-lg-7">

                <div class="b-grid__title box">
                    <span class="point"> @dataStock.Current.FormatNumber()</span>

                    <span class="unit @(dataStock.Change > 0 ? "green" : (dataStock.Change<0? "red":"yellow")) ">
                        @if (dataStock.Change > 0)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                            </svg>
                        }
                        else if (dataStock.Change < 0)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        }

                        @( dataStock.Change >= 0? $"{(dataStock.Change/1000).FormatNumber()}": $"{ Math.Abs(dataStock.Change).FormatNumberUnit(1)}")
                    </span>
                    <span class="unit @(dataStock.Change > 0 ? "green" : (dataStock.Change<0? "red":"yellow"))"> (@(dataStock.ChangePercent >= 0 ? $"{dataStock.ChangePercent.FormatNumber()}" : Math.Abs(dataStock.ChangePercent).FormatNumber())%)</span>
                    <span class="unit-lastupdate">Cập nhật: @dataStock.LastUpdate.ToString("HH:mm dd/MM/yyyy")</span>
                </div>
                <div class="kyquy">
                    <span class="exchange">Sàn: <span>@Model.DataObject.SanGD</span></span>
                    @if (Model.DataObject.KyQuy)
                    {
                        <span class="status">Tình trạng: <span><span>Được</span> GD ký quỹ </span></span>
                    }
                </div>
                <div class="">
                    <ul class="d-flex c-chart">
                        <li><a href="javascript:void(0)" class="btn-load active" data-type="DAY">1D</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="WEEK">1W</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="1MONTH">1M</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="3MONTH">3M</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="6MONTH">6M</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="1YEAR">1Y</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="5YEAR">5Y</a></li>
                        <li><a href="javascript:void(0)" class="btn-load" data-type="">ALL</a></li>
                    </ul>
                </div>

                <div id="chart-doanh-nghiep" style="height: 300px;"></div>
                <div class="w-100 d-inline-block">
                    <span class="float-left">So sánh cùng ngành</span>
                    <a href="javascript:void(0)" class="infobtn">Phân tích kỹ thuật</a>
                </div>
                <ul class="phantich1">
                    @foreach (var item in dataStockLikeProfess)
                    {
                        <li class="@(item.CompanyStock.Change > 0 ? "green" :(item.CompanyStock.Change < 0? "red":"yellow") )" data-toggle="tooltip"
                            data-price="@item.CompanyStock.Current.FormatNumber()"
                            data-code="@item.Code"
                            data-name="@item.Name"
                            data-change="@item.CompanyStock.Change.FormatNumberUnit(1)"
                            data-percent-change="@item.CompanyStock.ChangePercent.FormatNumber()"
                            data-priceBefor7day="@item.CompanyStock.ClosePriceBefor7Day.FormatNumber()"
                            data-changeBefor7day="@item.CompanyStock.ChangeBefor7Day.FormatNumberUnit(1)"
                            data-changePercentBefor7day="@item.CompanyStock.ChangePercentBefor7Day.FormatNumber()"
                            data-volume="@item.CompanyStock.Volume.FormatNumber()"
                            data-value="@item.CompanyStock.Value.FormatNumberUnit(3)"
                            data-foreign="@item.CompanyStock.ForeignRoom.FormatNumber()"
                            data-foreign-buy="@item.CompanyStock.ForeignBuy.FormatNumber()"
                            data-foreign-sell="@item.CompanyStock.ForeignSell.FormatNumber()">
                            <span><a href="@Url.Action("CompanyDetail", "Company", new { code = item.Code })">@item.Code</a></span>
                            <span>@item.CompanyStock.Current.ToString("N1")</span>
                            <span>@(item.CompanyStock.Change > 0? $"+{item.CompanyStock.Change.FormatNumberUnit(1)}": (item.CompanyStock.Change <0? $"{item.CompanyStock.Change.FormatNumberUnit(1)}":"0"))</span>
                            <span>@( item.CompanyStock.Change > 0? $"+{(item.CompanyStock.ChangePercent).FormatNumber()}":(item.CompanyStock.Change < 0 ? $"{(item.CompanyStock.ChangePercent).FormatNumber()}":"0"))%</span>
                        </li>
                    }
                </ul>
            </div>
            <!--end l-top-head-->
            <div class="r-topnews col-lg-5">
                <ul class="c-box is-border is-line-bottom mb-3">
                    <li><span class="float-left">Tham chiếu</span><span class="float-right">@dataStock.BasePrice.FormatNumber()</span></li>
                    <li><span class="float-left">Sàn/Trần</span><span class="float-right">@dataStock.Bottom.FormatNumber() / @dataStock.Top.FormatNumber()</span></li>
                    <li><span class="float-left">Mở cửa</span><span class="float-right">@dataStock.OpenPrice.FormatNumber()</span></li>
                    @*<li><span class="float-left">Đóng cửa</span><span class="float-right">@dataStock.ClosePrice.FormatNumber()</span></li>*@
                    <li><span class="float-left">Thấp/Cao 1D</span><span class="float-right">@dataStock.MinPrice.FormatNumber() / @dataStock.MaxPrice.FormatNumber()</span></li>
                    <li><span class="float-left">Thấp/Cao 52T</span><span class="float-right">@dataStock.Min52T.FormatNumber() / @dataStock.Max52T.FormatNumber()</span></li>
                    <li><span class="float-left">KLGD</span><span class="float-right">@dataStock.Volume.FormatNumber()</span></li>
                    <li><span class="float-left">GTGD</span><span class="float-right">@(dataStock.Value.FormatNumberUnit(type:3))</span></li>
                </ul>
                <!--end l-top-news-->
                <div>
                    <span class="titlebox">NĐTNN</span>
                    <ul class="c-box is-border is-line-bottom">
                        <li><span class="float-left">KL Mua</span><span class="float-right">@dataStock.BuyVol.FormatNumber()</span></li>
                        <li><span class="float-left">KL Bán</span><span class="float-right">@dataStock.SellVol.FormatNumber()</span></li>
                        <li><span class="float-left">Mua ròng</span><span class="float-right">@((dataStock.BuyVol - dataStock.SellVol).FormatNumber())</span></li>
                        <li><span class="float-left">GT Mua</span><span class="float-right">@dataStock.BuyVal.FormatNumberUnit(3)</span></li>
                        <li><span class="float-left">GT Bán</span><span class="float-right">@dataStock.SellVal.FormatNumberUnit(3)</span></li>
                        <li><span class="float-left">Tỉ lệ sở hữu</span><span class="float-right">@((Model.DataObject.ForeignOwnership).FormatNumber())%</span></li>
                    </ul>
                    <!--end l-top-news-->
                </div>
            </div>

            <div class="r-topnews mobile d-block d-lg-none">
                <ul>
                    <li><span class="float-left">Tham chiếu</span><span class="float-right">@dataStock.BasePrice.FormatNumber()</span></li>
                    <li><span class="float-left">KLGD</span><span class="float-right">@dataStock.Volume.FormatNumber()</span></li>


                    <li><span class="float-left">Sàn</span><span class="float-right">@dataStock.Bottom.FormatNumber()</span></li>
                    <li><span class="float-left">Giá trị GD</span><span class="float-right">@(dataStock.Value.FormatNumberUnit(type:3))</span></li>

                    <li><span class="float-left">Trần</span><span class="float-right">@dataStock.Top.FormatNumber()</span></li>
                    <li><span class="float-left"></span><span class="float-right"></span></li>

                    <li><span class="float-left">Mở cửa</span><span class="float-right">@dataStock.OpenPrice.FormatNumber()</span></li>
                    <li><span class="float-left">NN Mua</span><span class="float-right">@dataStock.BuyVol.FormatNumber()</span></li>

                    <li><span class="float-left"></span><span class="float-right"></span></li>
                    @*<li><span class="float-left">Đóng cửa</span><span class="float-right">@dataStock.ClosePrice.FormatNumber()</span></li>*@
                    <li><span class="float-left">NN Bán</span><span class="float-right">@dataStock.SellVol.FormatNumber()</span></li>

                    <li><span class="float-left">Thấp nhất</span><span class="float-right">@dataStock.MinPrice.FormatNumber()</span></li>
                    <li><span class="float-left">Mua ròng</span><span class="float-right">@((dataStock.BuyVol - dataStock.SellVol).FormatNumber())</span></li>


                    <li><span class="float-left">Cao nhất</span><span class="float-right">@dataStock.MaxPrice.FormatNumber()</span></li>
                    <li><span class="float-left">GT Mua</span><span class="float-right">@dataStock.BuyVal.FormatNumberUnit(3)</span></li>

                    <li><span class="float-left">Thấp 52T</span><span class="float-right">@dataStock.Min52T.FormatNumber()</span></li>
                    <li><span class="float-left">GT Bán</span><span class="float-right">@dataStock.SellVal.FormatNumberUnit(3)</span></li>

                    <li><span class="float-left">Cao 52T</span><span class="float-right">@dataStock.Max52T.FormatNumber()</span></li>
                    <li><span class="float-left">Tỉ lệ sở hữu</span><span class="float-right">@((Model.DataObject.ForeignOwnership).FormatNumber())%</span></li>

                </ul>
                <hr />
                <ul>
                    <li><span class="float-left">Vốn hóa</span><span class="float-right">@(dataStock.MarketCap==0?"N/A": $"{dataStock.MarketCap.FormatNumberUnit(type: 2)} Tỷ")</span></li>
                    <li><span class="float-left">CP Lưu hành</span><span class="float-right">@dataStock.ListingVolume.FormatNumber() </span></li>
                    <li><span class="float-left">P/E</span><span class="float-right">@(EPS==0?"N/A": (dataStock.Current/( EPS/1000)).FormatNumber()) </span></li>
                    <li><span class="float-left">EPS</span><span class="float-right">@(EPS==0?"N/A":(EPS).FormatNumber())</span></li>
                    <li><span class="float-left">P/B</span><span class="float-right">@(BVPS==0?"N/A":(dataStock.Current/BVPS).FormatNumber())</span></li>
                    <li><span class="float-left">PS</span><span class="float-right">@(PS == 0?"N/A":(PS).FormatNumber())</span></li>
                    <li><span class="float-left">BVPS</span><span class="float-right">@(BVPS==0?"N/A":(BVPS).FormatNumber())</span></li>
                    <li><span class="float-left">BETA</span><span class="float-right">N/A</span></li>
                </ul>
                <hr />
                <ul>
                    <li class="note">
                        <span>PE EPS: Tính theo số liệu quý 1/2023</span>
                        <span>Beta: Tính theo số liệu 100 phiên gần nhất</span>
                        <span>ĐVT: Giá: 1000đ; GTGD: Tỷ đồng</span>
                    </li>
                </ul>

            </div>
            <!--end c-head-->
        </div>
        <div class="personal-special d-block d-lg-none">
            <ul>
                @{
                    var groupPersonal = dataSpecialPersonal.OrderBy(x => (x.Position.OrderBy(y => y.PositionIndex)).FirstOrDefault().PositionIndex);
                    foreach (CompanyPersonalGroupSpecialMdl itemPersonal in groupPersonal)
                    {
                        <li>
                            <div class="grid">
                                <div class="g-img"><a href="@Url.Action("Index","Personal",new { nqsCode=itemPersonal.PersonalCode.ToLower(), name =M.Common.Extensions.RegexHelper.TiengVietKDau(itemPersonal.PersonalName).ToLower() })"><img src="@(System.Configuration.ConfigurationManager.AppSettings["static_domain"].ToString()+"/Image"+itemPersonal.PersonalImage.Replace(@"\","/"))" alt="@itemPersonal.PersonalName" title="@itemPersonal.PersonalName"></a></div>
                                <div class="g-content">
                                    <h3 class="g-title">
                                        @Html.Raw(string.IsNullOrEmpty(itemPersonal.PersonalCode) ? itemPersonal.PersonalName : $"<a href='{Url.Action("Index", "Personal", new { nqsCode = itemPersonal.PersonalCode.ToLower(), name = M.Common.Extensions.RegexHelper.TiengVietKDau(itemPersonal.PersonalName).ToLower() })}'>{itemPersonal.PersonalName}</a>")
                                    </h3>
                                    <ul>
                                        @{

                                            foreach (var sub in itemPersonal.Position.OrderBy(x => x.PositionIndex))
                                            {
                                                <li>@sub.PositionName</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>


                    }
                }
            </ul>
        </div>
        <div>
            <ul class="c-box history is-border is-line-bottom mb-3 d-lg-none" id="pricehistory-mobile">
                <li>
                    <div class="c-box__title">
                        <div class="c-box__title__name">Lịch sử giao dịch</div>
                    </div>
                </li>
                <li class="labelname">
                    <span>Ngày</span>
                    <span>Thay đổi giá</span>
                    <span>KLGD</span>
                    <span>GTGD</span>
                    <span>GTGD</span>
                </li>
                <li class="note">
                    <a href="@Url.Action("History", "History", new { code= Model.DataObject.Code })" class="float-left text-nowrap">Xem tất cả > </a>
                    <span class="float-right text-nowrap text-right">Đơn vị GTGD: Tỷ đồng</span>
                </li>
            </ul>
        </div>

        <div class="c-box is-border is-minus-mobile is-primary-mobile c-grey content-struct">
            <div class="c-box__content">
                <div class="info-navbar-content">
                    <ul class="nav info-navbar info-grey">
                        <li class="active nav-tab1"><a href="#tab1" data-toggle="tab" class="nav-link">Tin tức sự kiện</a></li>
                        <li class="nav-tab6"><a href="#tab6" data-toggle="tab" class="nav-link">Thông tin cơ bản</a></li>
                        <li class="nav-tab7"><a href="#tab7" data-toggle="tab" class="nav-link">Thông tin doanh nghiệp</a></li>
                        <li class="nav-tab2"><a href="#tab2" data-toggle="tab" class="nav-link">Ban lãnh đạo</a></li>
                        <li class="nav-tab3"><a href="#tab3" data-toggle="tab" class="nav-link">Cơ cấu sở hữu</a></li>
                        <li class="nav-tab4"><a href="#tab4" data-toggle="tab" class="nav-link">Thông tin tài chính</a></li>
                        <li class="nav-tab5"><a href="#tab5" data-toggle="tab" class="nav-link">Doanh nghiệp tương đương</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab tab-pane active" id="tab1">

                        <div id="company-News" class="mb-3"></div>
                        <div class="c-box c-other ">
                            <div class="option-events">
                                <div class="sml_title">Lịch sự kiện</div>
                                <select id="option-events" class="form-control">
                                    <option value="0" data-type="0">Tất cả</option>
                                    @foreach (var item in ViewBag.ListType)
                                    {
                                        <option value="@item.Value" data-type="@item.AppendData">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div id="company_events">

                            </div>
                        </div>
                    </div>
                    <div id="tab7" class="tab tab-pane">
                        <div class="c-box__content white__bg">
                            @Html.Raw(Model.DataObject.DescriptionCafef)
                        </div>
                    </div>
                    <div id="tab6" class="tab tab-pane">
                        <div class="c-box__content white__bg">
                            <div class="c-news-info">
                                @if (!string.IsNullOrEmpty(Model.DataObject.Logo))
                                {
                                    <img src="@(System.Configuration.ConfigurationManager.AppSettings["static_domain"].ToString()+"/Image"+Model.DataObject.Logo.Replace(@"\","/"))">
                                }

                                <div>
                                    @Model.DataObject.ShortDescriptionFireant
                                    @if (!string.IsNullOrEmpty(Model.DataObject.ShortDescriptionFireant))
                                    {
                                        <div class="d-none content-extent">
                                            @Html.Raw(Model.DataObject.ShortDescription)
                                        </div>
                                        <div class="option">
                                            <a href="javascript:void(0)" onclick="ShowMoreDetail(this)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                                </svg>
                                            </a>
                                        </div>

                                    }
                                </div>
                                @if (!string.IsNullOrEmpty(Model.DataObject.NganhGICS))
                                {
                                    <div>
                                        <div class="profession">
                                            <a href="@Url.Action("CompanyListSearch","Company",new {code=string.Empty,exId=0,  professionId=Model.DataObject.NganhGICSId })">  <span>Nhóm ngành: @(Model.DataObject.NganhGICS.Split('/').Last()) </span></a>
                                        </div>
                                    </div>
                                }
                                <ul>
                                    <li><b>Trụ sở:</b> @Model.DataObject.Location</li>
                                    <li><b>Điện thoại:</b> @Model.DataObject.Phone</li>
                                    <li><b>Email:</b> @Model.DataObject.Email</li>
                                    <li><b>Website:</b> <a target="_blank" href="@Model.DataObject.Website">@Model.DataObject.Website</a></li>
                                    <li><b>Tổng nhân sự:</b> @(Model.DataObject.EmployeeCount==0?"N/A":Model.DataObject.EmployeeCount.FormatNumber()) </li>
                                    <li><b>Mã số kinh doanh:</b> @Model.DataObject.MSKinhDoanh</li>

                                    <li><b>Đại diện pháp luật:</b> @Model.DataObject.PublishPersonalRule</li>
                                    <li><b>Đại diện công bố thông tin:</b> @Model.DataObject.PublishPersonal.Replace("Mr", string.Empty).Replace("Ms", string.Empty).Replace("Mrs", string.Empty).Trim().TrimStart('.')</li>
                                    <li><b>Niêm yết lần đầu:</b> @Model.DataObject.FirstTradeDate.ToString("dd/MM/yyyy")</li>
                                    <li><b>KLCP Niêm yết:</b> @Model.DataObject.CurrentCPNY.FormatNumber()</li>
                                    <li><b>KLCP Lưu hành:</b> @dataStock.ListingVolume.FormatNumber()</li>
                                </ul>

                            </div>
                            <!--end c-news-new-->
                        </div>
                    </div>
                    <div id="tab2" class="tab tab-pane">
                        @{ Html.RenderAction("CompanyProfileTab", "Company", new { code = Model.DataObject.Code }); }
                    </div>
                    <!--end Tab2-->
                    <div id="tab3" class="tab tab-pane">
                        @{ Html.RenderAction("CompanyStructureTab", "Company", new { code = Model.DataObject.Code }); }
                    </div>
                    <!--end Tab3-->
                    <div id="tab4" class="tab tab-pane">
                        <div id="content-finance"></div>
                        <div id="content-finance-target"></div>
                        <div class="unit"><span class="desktop">ĐVT: Triệu đồng</span> <span class="mobile">ĐVT: Tỷ đồng</span></div>
                    </div>
                    <input type="hidden" class="d-none" id="finance-typeView" value="1" />
                    <input type="hidden" class="d-none" id="finance-pageindex" value="0" />
                    <input type="hidden" class="d-none" id="finance-code" value="@Model.DataObject.Code" />
                    <input type="hidden" class="d-none" id="finance-target-year" value="@DateTime.Now.Year" />
                    <div id="tab5" class="tab tab-pane">
                        <ul class="c-box history is-border is-line-bottom mb-3">
                            <li class="labelname">
                                <span>Mã</span>
                                <span>Sàn</span>
                                <span>EPS</span>
                                <span>Giá</span>
                                <span>P/E</span>
                                <span>Vốn hóa TT</span>
                            </li>
                            @foreach (var item in topEPS)
                            {
                                <li>
                                    <span><a href="@Url.Action("CompanyDetail","Company",new {code=item.Code })">@item.Code</a></span>
                                    <span>@item.Exchange</span>
                                    <span>@item.EPS.FormatNumber()</span>
                                    <span>@item.Price.FormatNumber()</span>
                                    <span>@item.PE.FormatNumber()</span>
                                    <span>@((item.MarketCap/1000000).FormatNumber())</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <!--end Tab4-->
            </div>
        </div>


        <!--end topnews-->
        <div class="c-box c-other mb-3">
            <div class="c-box__title grey__bg"><a class="c-box__title__name" href="#">Tin doanh nghiệp</a></div>
            <div class="c-template-list">
                <ul id="company-get-news">
                </ul>
            </div>
            <!--end c-box__content-->
        </div>
        <!--end topnews-->
        <div class="w-100 text-center mb-3">
            <input type="hidden" value="0" id="getnew-page" />
            <a class="btn btn-grey m-auto" href="javascript:void(0)" onclick="LoadMoreNews(this)">Xem thêm</a>
        </div>
    </div>
    <div class="l-sidebar">
        <ul class="c-box is-border is-line-bottom mb-3 d-none d-lg-block">
            <li><span class="float-left">Vốn hóa</span><span class="float-right">@(dataStock.MarketCap==0?"N/A": $"{dataStock.MarketCap.FormatNumberUnit(type: 2)} Tỷ")</span></li>
            <li><span class="float-left">CP Lưu hành</span><span class="float-right">@dataStock.ListingVolume.FormatNumber() </span></li>
            <li><span class="float-left">P/E</span><span class="float-right">@(EPS==0?"N/A": (dataStock.Current/( EPS/1000)).FormatNumber()) </span></li>
            <li><span class="float-left">EPS</span><span class="float-right">@(EPS==0?"N/A":(EPS).FormatNumber())</span></li>
            <li><span class="float-left">P/B</span><span class="float-right">@(BVPS==0?"N/A":(dataStock.Current/BVPS).FormatNumber())</span></li>
            <li><span class="float-left">PS</span><span class="float-right">@(PS == 0?"N/A":(PS).FormatNumber())</span></li>
            <li><span class="float-left">BVPS</span><span class="float-right">@(BVPS==0?"N/A":(BVPS).FormatNumber())</span></li>
            <li><span class="float-left">BETA</span><span class="float-right">N/A</span></li>
            <li class="note">
                <span>PE EPS: Tính theo số liệu quý 1/2023</span>
                <span>Beta: Tính theo số liệu 100 phiên gần nhất</span>
                <span>ĐVT: Giá: 1000đ; GTGD: Tỷ đồng</span>
            </li>
        </ul>
        <!--end c-box-->
        <div class="c-box h-show-pc">
            <div class="c-box__content ad">
                <div class="c-banner-item is-300x250">
                    <div class="c-banner-item__inner">
                        <div class="c-banner-item__box">
                            <img class="ad" src="/Upload/images/banner.png" alt="ad">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="personal-special d-none d-lg-block">
            <ul>
                @{
                    foreach (CompanyPersonalGroupSpecialMdl itemPersonal in groupPersonal)
                    {
                        <li>
                            <div class="grid">
                                <div class="g-img"><a href="@Url.Action("Index","Personal",new { nqsCode=itemPersonal.PersonalCode.ToLower(), name =M.Common.Extensions.RegexHelper.TiengVietKDau(itemPersonal.PersonalName).ToLower() })"><img src="@(System.Configuration.ConfigurationManager.AppSettings["static_domain"].ToString()+"/Image"+itemPersonal.PersonalImage.Replace(@"\","/"))" alt="@itemPersonal.PersonalName" title="@itemPersonal.PersonalName"></a></div>
                                <div class="g-content">
                                    <h3 class="g-title">
                                        @Html.Raw(string.IsNullOrEmpty(itemPersonal.PersonalCode) ? itemPersonal.PersonalName : $"<a href='{Url.Action("Index", "Personal", new { nqsCode = itemPersonal.PersonalCode.ToLower(), name = M.Common.Extensions.RegexHelper.TiengVietKDau(itemPersonal.PersonalName).ToLower() })}'>{itemPersonal.PersonalName}</a>")
                                    </h3>
                                    <ul>
                                        @{

                                            foreach (var sub in itemPersonal.Position.OrderBy(x => x.PositionIndex))
                                            {
                                                <li>@sub.PositionName</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>


                    }
                }
            </ul>
        </div>
        <!--end c-box-->
        <ul class="c-box history is-border is-line-bottom mb-3 d-sm-none d-none d-lg-block" id="pricehistory">
            <li>
                <div class="c-box__title">
                    <div class="c-box__title__name">Lịch sử giao dịch</div>
                </div>
            </li>
            <li class="labelname">
                <span>Ngày</span>
                <span>Thay đổi giá</span>
                <span>KLGD</span>
                <span>GTGD</span>
            </li>
            <li class="note">
                <a href="@Url.Action("History", "History", new { code= Model.DataObject.Code })" class="float-left text-nowrap">Xem tất cả > </a>
                <span class="float-right text-nowrap text-right">Đơn vị GTGD: Tỷ đồng</span>
            </li>
        </ul>
        <!--end c-box-->

        <div class="c-box is-border is-primary is-minus-mobile d-none d-lg-block">
            <div class="c-box__title">
                <div class="c-box__title__name">Giới thiệu</div>
            </div>
            <div class="c-box__content white__bg">
                <div class="c-news-info">
                    @if (!string.IsNullOrEmpty(Model.DataObject.Logo))
                    {
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["static_domain"].ToString()+"/Image"+Model.DataObject.Logo.Replace(@"\","/"))">
                    }

                    <div>
                        @Model.DataObject.ShortDescriptionFireant
                        @if (!string.IsNullOrEmpty(Model.DataObject.ShortDescriptionFireant))
                        {
                            <div class="d-none content-extent">
                                @Html.Raw(Model.DataObject.ShortDescription)
                            </div>
                            <div class="option">
                                <a href="javascript:void(0)" onclick="ShowMoreDetail(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                                    </svg>
                                </a>
                            </div>

                        }


                    </div>
                    @if (!string.IsNullOrEmpty(Model.DataObject.NganhGICS))
                    {
                        <div>
                            <div class="profession">
                                <a href="@Url.Action("CompanyListSearch","Company",new {code=string.Empty,exId=0, professionId=Model.DataObject.NganhGICSId})">  <span>Nhóm ngành: @(Model.DataObject.NganhGICS.Split('/').Last()) </span></a>
                            </div>
                        </div>
                    }

                    <ul>
                        <li><b>Trụ sở:</b> @Model.DataObject.Location</li>
                        <li><b>Điện thoại:</b> @Model.DataObject.Phone</li>
                        <li><b>Email:</b> @Model.DataObject.Email</li>
                        <li><b>Website:</b> <a target="_blank" href="@Model.DataObject.Website">@Model.DataObject.Website</a></li>
                        <li><b>Tổng nhân sự:</b> @(Model.DataObject.EmployeeCount==0?"N/A":Model.DataObject.EmployeeCount.FormatNumber()) </li>
                        <li><b>Mã số kinh doanh:</b> @Model.DataObject.MSKinhDoanh</li>
                        <li><b>Đại diện pháp luật:</b> @Model.DataObject.PublishPersonalRule</li>
                        <li><b>Đại diện công bố thông tin:</b> @Model.DataObject.PublishPersonal.Replace("Mr", string.Empty).Replace("Ms", string.Empty).Replace("Mrs", string.Empty).Trim().TrimStart('.')</li>
                        <li><b>Niêm yết lần đầu:</b> @Model.DataObject.FirstTradeDate.ToString("dd/MM/yyyy")</li>
                        <li><b>KLCP Niêm yết:</b> @Model.DataObject.CurrentCPNY.FormatNumber()</li>
                        <li><b>KLCP Lưu hành:</b> @dataStock.ListingVolume.FormatNumber()</li>
                    </ul>

                </div>
                <!--end c-news-new-->
            </div>
        </div>
        <!--end c-box__content-->
        <div class="c-box top-eps">
            <div class="c-box__title">
                <div class="c-box__title__name">Top 10 EPS tương đương</div>
            </div>
            <ul class="c-box history is-border is-line-bottom mb-3">
                <li class="labelname">
                    <span>Mã</span>
                    <span>Sàn</span>
                    <span>EPS</span>
                    <span>Giá</span>
                    <span>P/E</span>
                    <span>Vốn hóa TT</span>
                </li>
                @foreach (var item in topEPS)
                {
                    <li>
                        <span><a href="@Url.Action("CompanyDetail","Company",new {code=item.Code })">@item.Code</a></span>
                        <span>@item.Exchange</span>
                        <span>@item.EPS.FormatNumber()</span>
                        <span>@item.Price.FormatNumber()</span>
                        <span>@item.PE.FormatNumber()</span>
                        <span>@((item.MarketCap/1000000).FormatNumber())</span>
                    </li>
                }


            </ul>
        </div>
        <!--end c-box-->
        <!--end l-sidebar-->
    </div>

</div>
<div class="modal modal-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 50%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="event-detail-title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p id="event-detail-content">Modal body text goes here.</p>
                <p id="event-detail-download">

                </p>
            </div>

        </div>
    </div>
</div>
@functions
{
    public string TextEllipsis(string str, int maxLength, string side = "end", string ellipsis = "...")
    {
        if (str.Length > maxLength)
        {
            switch (side)
            {
                case "start":
                    return ellipsis + str.Substring(str.Length - (maxLength - ellipsis.Length), maxLength);
                case "mid":
                    int sublen = maxLength / 2;
                    return str.Substring(0, sublen) + "..." + str.Substring(str.Length - sublen, sublen);

                case "end":
                default:
                    return str.Substring(0, maxLength - ellipsis.Length) + ellipsis;

            }
        }
        return str;
    }
}

@if (dataNewShowPopup != null)
{

    <div class="modal" tabindex="-1" role="dialog" id="modalNewShowPopup">
        <div class="modal-dialog modal-dialog-centered" style="min-width: 50%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="event-detail-title">@dataNewShowPopup.Title</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="event-detail-content">@Html.Raw(dataNewShowPopup.Content)</p>
                    @if (!string.IsNullOrEmpty(dataNewShowPopup.File))
                    {

                        <p id="event-detail-download">
                            File đính kèm:
                            <br />
                            <a target='_blank' href="@dataNewShowPopup.File">@TextEllipsis(dataNewShowPopup.File, 50, "mid", "...")</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="modal modal-company-detail" tabindex="-1" role="dialog" id="Modal-company-detail">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 30%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="title-company-detail">@Model.DataObject.Name</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2 divlogo">
                        <img class="logo" src='@(System.Configuration.ConfigurationManager.AppSettings["static_domain"].ToString()+"/Image"+Model.DataObject.Logo.Replace(@"\","/"))' />
                    </div>
                    <div class="col-lg-10">
                        @Model.DataObject.ShortDescription
                    </div>
                </div>
                <hr class="clearfix" />
                <div class="row mb-lg-5 mt-1">
                    <div class="col-lg-12">Nhóm ngành: @Model.DataObject.NganhGICS</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Trụ sở: @Model.DataObject.Location</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Điện thoại: @Model.DataObject.Phone</div>

                </div>
                <div class="row mb-1 ">
                    <div class="col-lg-12">Email: @Model.DataObject.Email</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Website: @Model.DataObject.Website</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Tổng số nhân sự: N/A</div>
                </div>
                <div class="row mb-lg-5">
                    <div class="col-lg-12">Mã số DK: @Model.DataObject.MSKinhDoanh</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Đại diện pháp luật: @Model.DataObject.PublishPersonalRule</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Đại diện công bố thông tin: @Model.DataObject.PublishPersonal</div>
                </div>
                <hr class="clearfix" />
                <div class="row mb-1">
                    <div class="col-lg-12">Vốn điều lệ: @Model.DataObject.CurrentCapital.ToString("N0")</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">Niêm yết lần đầu: @Model.DataObject.FirstTradeDate.ToString("dd/MM/yyyy")</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">KLCP Niêm yết: @Model.DataObject.CurrentCPNY.ToString("N0")</div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">KLCP Lưu hành: @Model.DataObject.LoadingCPNY.ToString("N0")</div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript">
        var urlCompanyFinaFinacial = '@Url.Action("CompanyFinaFinacial", "Company")';
        var urlGetDataStockBy = '@Url.Action("GetDataStockBy", "Home")';
        var urlPriceHistoryData = '@Url.Action("PriceHistoryData", "History")';
        var urlCompanyEvents = '@Url.Action("CompanyEvents", "Company")';
        var urlCompanyNews = '@Url.Action("CompanyNewsInfo", "Company")';
        var urlHistoryTrade = '@Url.Action("History", "History", new { code= Model.DataObject.Code })';
        var urlFinanceTarget = '@Url.Action("CompanyFinancialTarget", "Company")';
        var urlGetNews = '@Url.Action("CompanyGetNews", "Company")';
        var overRatios = parseFloat('@Model.DataObject.ForeignOwnership*100');
        var percentStockCeo = parseFloat('@countPercentStockCeo.FormatNumber()');
    </script>
    @Scripts.Render("~/bundles/script/company-detail")

}
