@model Nqs.Models.FormModel.Common.BasePagingModel<Nqs.Models.FormModel.Event.EventModel>
<div class="table-responsive-sm table-scroll">
    <br />
    <table class="table table-bordered table-common">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã CK</th>
                <th scope="col">Sàn</th>
                <th scope="col">Ngày GDKHQ</th>
                <th scope="col">Ngày ĐKCC</th>
                <th scope="col">Ngày họp</th>
                <th scope="col">Giờ họp</th>
                <th scope="col">Địa điểm họp</th>
                <th scope="col">File</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td class="center" scope="row">@item.RowIndex</td>
                    <td class="center"><a class="a-in-table" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a></td>
                    <td class="center">@item.ExchangeCode</td>
                    <td class="center">@item.DateGdkhq</td>
                    <td class="center">@item.DateDkcc</td>
                    <td class="center">@item.Date</td>
                    <td class="center">@item.GioHop</td>
                    <td class="left">@item.Note</td>
                    <td class="center">
                        @if (@item.FileUrl != null)
                        {
                            <a href="@item.FileUrl" target="_blank">
                                Tải
                            </a>
                        }
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>
<nav id="common-paging">
    @{Html.RenderPartial("Partials/Paging", Model);}
</nav>
