@model Nqs.Models.FormModel.Common.BasePagingModel<Nqs.Models.FormModel.Event.EventModel>
<div class="table-responsive-sm table-scroll">
    <br />
    <table class="table table-bordered table-common" id="event-tracotucbangtienmat-table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã CK</th>
                <th scope="col" style="min-width: 200px;">Nội dung sự kiện</th>
                <th scope="col">Sàn</th>
                <th scope="col" style="min-width: 100px;">Ngày GDKHQ</th>
                <th scope="col" style="min-width: 100px;">Ngày ĐKCC</th>
                <th scope="col" style="min-width: 100px;">Ngày thực hiện</th>
                <th scope="col" style="min-width: 100px;">Tỉ lệ</th>


            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.DataList)
            {
            <tr>
                <td class="center" scope="row">@item.RowIndex</td>
                <td class="center"><a class="a-in-table" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a></td>
                <td class="left">
                    <a href="javascript:void(0)" class="a-btn-show-modal-detail" data-id="@item.Id">
                        @item.Note
                    </a>
                    <span id="title-@item.Id" style="display: none;">@item.Title</span>
                    <span id="link-download-@item.Id" style="display: none;">@item.FileUrl</span>
                    <span id="content-@item.Id" style="display: none;">@MvcHtmlString.Create(item.Content)</span>
                </td>

                <td class="center">@item.ExchangeCode</td>
                <td class="center">@item.DateGdkhq</td>
                <td class="center">@item.DateDkcc</td>
                <td class="center">@item.Date</td>
                <td class="right">@item.Rate</td>

            </tr>
            }

        </tbody>
    </table>
</div>
<nav id="common-paging">
    @{Html.RenderPartial("Partials/Paging", Model);}
</nav>
<script type="text/javascript">
    $(document).ready(function () {
        

        $('#event-tracotucbangtienmat-table').bootstrapTable({
            fixedColumns: true,
            fixedNumber: 3
        });
    });
</script>