
@{
    ViewBag.Title = "Sự kiện";
    ViewBag.PageName = "Sự kiện";
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <input type="hidden" id="hd-type" value="1" />
                    <div class="form-group row">
                        <label for="input-from-date" class="col-lg-1 col-sm-4 col-4 col-form-label">Từ ngày</label>
                        <div class="col-lg-2 col-sm-8 col-8 mb-2">
                            <input type="text" class="form-control" id="input-from-date" readonly placeholder="Từ ngày" value="@ViewBag.FromDate">
                        </div>
                        <label for="input-to-date" class="col-lg-1 col-sm-4 col-4 col-form-label">Đến ngày</label>
                        <div class="col-lg-2 col-sm-8 col-8 mb-2">
                            <input type="text" class="form-control" id="input-to-date" readonly placeholder="Đến ngày" value="@ViewBag.ToDate">
                        </div>
                        <label for="input-from-date" class="col-lg-1 col-sm-4 col-4 col-form-label">Loại</label>
                        <div class="col-lg-3 col-sm-8 col-8">
                            <select id="ddl-type" class="form-control">
                                @foreach (var item in ViewBag.ListType)
                                {
                                    <option value="@item.Value" data-type="@item.AppendData">@item.Text</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-code" class="col-lg-1 col-sm-4 col-4 col-form-label">Sàn</label>
                        <div class="col-lg-2 col-sm-8 col-8 mb-2">
                            <select id="ddl-exchange" class="form-control">
                                <option value="" selected>--Tất cả--</option>
                                <option value="HOSE">HOSE</option>
                                <option value="HNX">HNX</option>
                                <option value="UPCOM">UPCOM</option>
                            </select>
                        </div>
                        <label for="input-code" class="col-lg-1 col-sm-4 col-4 col-form-label">Mã CK</label>
                        <div class="col-lg-3 col-sm-8 col-8 mb-2">
                            <input type="hidden" class="form-control" id="input-code" />
                            <input type="text" class="form-control" id="txt-input-code" placeholder="Mã CK">
                        </div>
                        <div class="col-lg-1 col-sm-12 col-12">
                            <button type="button" class="btn btn-blue btn-search">Tìm kiếm</button>
                        </div>



                    </div>
                    <div class="form-group row">
                        
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-data">
            </div>
        </div>
    </div>
</div>
<div class="modal modal-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 50%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="event-detail-title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p id="event-detail-content"></p>
                <p id="event-detail-download">

                </p>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/event")