@model Nqs.Models.FormModel.Common.BasePagingModel<Nqs.Models.FormModel.Event.EventModel>
<div class="table-responsive-sm table-scroll">
    <br />
    <table class="table table-bordered table-common">
        <thead>
            <tr>
                <th scope="col" rowspan="2">STT</th>
                <th scope="col" rowspan="2">Mã CK</th>
                <th scope="col" rowspan="2">Sàn</th>
                <th scope="col" rowspan="2" style="min-width: 100px;">Ngày GDKHQ</th>
                <th scope="col" rowspan="2" style="min-width: 100px;">Ngày ĐKCC</th>
                <th scope="col" rowspan="2" style="min-width: 100px;">Tỉ lệ</th>
                <th scope="col" rowspan="2" style="min-width: 100px;">Giá phát hành</th>
                <th scope="col" rowspan="2" style="min-width: 100px;">Khối lượng DKPH</th>
                <th scope="col" colspan="2" style="min-width: 100px;">Thời gian chuyển nhượng</th>
                <th scope="col" colspan="2" style="min-width: 100px;">Thời gian đăng ký</th>

            </tr>
            <tr>
                <th scope="col">Từ ngày</th>
                <th scope="col">Đến ngày</th>
                <th scope="col">Từ ngày</th>
                <th scope="col">Đến ngày</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td class="center" scope="row">@item.RowIndex</td>
                    <td class="center"><a class="a-in-table" href="@Url.Action("CompanyDetail", "Company", new { code=item.Code })">@item.Code</a></td>
                    <td class="center">@item.ExchangeCode</td>
                    <td class="center">@item.DateGdkhq</td>
                    <td class="center">@item.DateDkcc</td>
                    <td class="right">@item.Rate</td>
                    <td class="right">@item.GiaPhatHanh</td>
                    <td class="center">@item.KlDkPh</td>
                    <td class="right">@item.TimeChuyenNhuongFrom</td>
                    <td class="right">@item.TimeChuyenNhuongTo</td>
                    <td class="right">@item.TimeDangKyFrom</td>
                    <td class="right">@item.TimeDangKyTo</td>
                    

                </tr>
            }

        </tbody>
    </table>
</div>
<nav id="common-paging">
    @{Html.RenderPartial("Partials/Paging", Model);}
</nav>
